openapi: 3.1.0
info:
  title: DataBolsa API
  description: >-
    API aberta de dados do mercado financeiro brasileiro.


    Convenções:

    - Datas em ISO 8601; valores monetários em BRL salvo campo `currency`.

    - Preços de ações **ajustados por proventos por default** (`adjusted=true`).

    - Indicadores fundamentalistas **TTM por default**, de demonstrações
    consolidadas.

    - Paginação por cursor: `?cursor=&limit=`; envelope `{ data, meta: {
    next_cursor, count } }`.

    - Erros seguem RFC 9457 (`application/problem+json`).

    - Toda métrica é rastreável à fonte primária (campo `lineage`).
  version: 1.0.0
  contact:
    name: DataBolsa
  license:
    name: Apache-2.0
servers:
  - url: https://api.databolsa.com
    description: Produção
  - url: http://localhost:8080
    description: Self-hosted
security:
  - bearerApiKey: []
components:
  securitySchemes:
    bearerApiKey:
      type: http
      scheme: bearer
  schemas:
    Health:
      type: object
      properties:
        status:
          type: string
          enum:
            - ok
            - degraded
        version:
          type: string
        data_freshness:
          type: object
          additionalProperties:
            type: string
      required:
        - status
        - version
        - data_freshness
    Problem:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
      required:
        - type
        - title
        - status
    Company:
      type: object
      properties:
        cvm_code:
          type: integer
        cnpj:
          type:
            - string
            - "null"
        name:
          type:
            - string
            - "null"
        trade_name:
          type:
            - string
            - "null"
          description: Nome de pregão — null nas fontes abertas
        sector:
          type:
            - string
            - "null"
        subsector:
          type:
            - string
            - "null"
        listing_segment:
          type:
            - string
            - "null"
        tickers:
          type: array
          items:
            type: string
        shares_outstanding:
          type: object
          properties:
            common:
              type:
                - number
                - "null"
            preferred:
              type:
                - number
                - "null"
            total:
              type:
                - number
                - "null"
          required:
            - common
            - preferred
            - total
          description: Capital emitido (fontes cruzadas FRE/CVM e B3)
        free_float_pct:
          type:
            - number
            - "null"
          description: "% de ações em circulação (FRE)"
        status:
          type:
            - string
            - "null"
        has_active_ticker:
          type:
            - boolean
            - "null"
      required:
        - cvm_code
        - cnpj
        - name
        - trade_name
        - sector
        - subsector
        - listing_segment
        - tickers
        - shares_outstanding
        - free_float_pct
        - status
        - has_active_ticker
    Document:
      type: object
      properties:
        cvm_code:
          type: integer
        category:
          type:
            - string
            - "null"
        type:
          type:
            - string
            - "null"
        subject:
          type:
            - string
            - "null"
        reference_date:
          type:
            - string
            - "null"
        filed_at:
          type:
            - string
            - "null"
        protocol:
          type:
            - string
            - "null"
        download_url:
          type:
            - string
            - "null"
        has_text:
          type: boolean
      required:
        - cvm_code
        - category
        - type
        - subject
        - reference_date
        - filed_at
        - protocol
        - download_url
        - has_text
    Stock:
      type: object
      properties:
        ticker:
          type: string
        isin:
          type:
            - string
            - "null"
        type:
          oneOf:
            - $ref: "#/components/schemas/StockType"
            - type: "null"
        company:
          type:
            - object
            - "null"
          properties:
            cvm_code:
              type:
                - integer
                - "null"
            name:
              type:
                - string
                - "null"
            tickers:
              type: array
              items:
                type: object
                properties:
                  ticker:
                    type: string
                  type:
                    oneOf:
                      - $ref: "#/components/schemas/StockType"
                      - type: "null"
                required:
                  - ticker
                  - type
              description: Papéis (classes) da empresa — cada um analisável em
                /stocks/{ticker}/indicators
          required:
            - cvm_code
            - name
            - tickers
        shares_outstanding:
          type:
            - number
            - "null"
        latest_quote:
          type: object
          properties:
            date:
              type: string
            close:
              type:
                - number
                - "null"
            adjust_type:
              type:
                - string
                - "null"
            adjust_quality:
              type:
                - string
                - "null"
          required:
            - date
            - close
            - adjust_type
            - adjust_quality
      required:
        - ticker
        - isin
        - type
        - company
        - shares_outstanding
        - latest_quote
    StockType:
      type: string
      enum:
        - ON
        - PN
        - PNA
        - PNB
        - UNIT
    Quote:
      type: object
      properties:
        date:
          type: string
        open:
          type:
            - number
            - "null"
        high:
          type:
            - number
            - "null"
        low:
          type:
            - number
            - "null"
        close:
          type:
            - number
            - "null"
        close_raw:
          type:
            - number
            - "null"
          description: Fechamento bruto (não ajustado), como reportado pela B3
        close_tr:
          type:
            - number
            - "null"
          description: "Fechamento de retorno total: ajustado por eventos + proventos
            reinvestidos (bruto). = close quando não há fonte de proventos
            (units/FII)"
        volume:
          type:
            - number
            - "null"
          description: Volume financeiro (R$)
        quantity:
          type:
            - number
            - "null"
        trades:
          type:
            - number
            - "null"
          description: "Nº de negócios — null: fonte aberta dá quantidade, não contagem"
        adjusted:
          type: boolean
        adjust_type:
          type:
            - string
            - "null"
        adjust_quality:
          type:
            - string
            - "null"
      required:
        - date
        - open
        - high
        - low
        - close
        - close_raw
        - close_tr
        - volume
        - quantity
        - trades
        - adjusted
        - adjust_type
        - adjust_quality
    IndicatorValue:
      type: object
      properties:
        name:
          type: string
        label:
          type: string
        value:
          type:
            - number
            - "null"
          description: null quando não calculável — ver reason
        unit:
          type: string
          enum: &a2
            - ratio
            - percent
            - brl
            - brl_per_share
            - count
            - days
        reason:
          type:
            - string
            - "null"
        reference_date:
          type:
            - string
            - "null"
        ttm:
          type: boolean
        lineage:
          $ref: "#/components/schemas/Lineage"
        methodology_url:
          type: string
      required:
        - name
        - label
        - value
        - unit
        - reason
        - reference_date
        - ttm
        - lineage
        - methodology_url
    Lineage:
      type: object
      properties:
        source:
          type: string
        reference:
          type: string
        url:
          type:
            - string
            - "null"
      required:
        - source
        - reference
    Observation:
      type: object
      properties:
        date:
          type: string
        value:
          type:
            - number
            - "null"
      required:
        - date
        - value
    Dividend:
      type: object
      properties:
        type:
          type:
            - string
            - "null"
        ex_date:
          type:
            - string
            - "null"
        payment_date:
          type:
            - string
            - "null"
        value_per_share_gross:
          type:
            - number
            - "null"
        value_per_share_net:
          type:
            - number
            - "null"
      required:
        - type
        - ex_date
        - payment_date
        - value_per_share_gross
        - value_per_share_net
    CorporateEvent:
      type: object
      properties:
        type:
          type:
            - string
            - "null"
        approved_date:
          type:
            - string
            - "null"
        ex_date:
          type:
            - string
            - "null"
        factor:
          type:
            - number
            - "null"
        detail:
          type:
            - string
            - "null"
      required:
        - type
        - approved_date
        - ex_date
        - factor
        - detail
    InsiderMove:
      type: object
      properties:
        reference_month:
          type: string
          description: AAAA-MM
        net_shares:
          type:
            - number
            - "null"
        net_value_brl:
          type:
            - number
            - "null"
        buy_value_brl:
          type:
            - number
            - "null"
        sell_value_brl:
          type:
            - number
            - "null"
        lineage:
          $ref: "#/components/schemas/Lineage"
      required:
        - reference_month
        - net_shares
        - net_value_brl
        - buy_value_brl
        - sell_value_brl
        - lineage
    ScreenerRow:
      type: object
      properties:
        ticker:
          type: string
        name:
          type:
            - string
            - "null"
        sector:
          type:
            - string
            - "null"
        indicators:
          type: object
          properties:
            market_cap:
              type:
                - number
                - "null"
            pl:
              type:
                - number
                - "null"
            pvp:
              type:
                - number
                - "null"
            dy:
              type:
                - number
                - "null"
            roe:
              type:
                - number
                - "null"
            roic:
              type:
                - number
                - "null"
            ev_ebitda:
              type:
                - number
                - "null"
            div_liq_ebitda:
              type:
                - number
                - "null"
            margem_liquida:
              type:
                - number
                - "null"
          required:
            - market_cap
            - pl
            - pvp
            - dy
            - roe
            - roic
            - ev_ebitda
            - div_liq_ebitda
            - margem_liquida
      required:
        - ticker
        - name
        - sector
        - indicators
    FiiListRow:
      type: object
      properties:
        ticker:
          type: string
        name:
          type:
            - string
            - "null"
        segment:
          type:
            - string
            - "null"
        is_paper:
          type: boolean
        reference_date:
          type:
            - string
            - "null"
        preco:
          type:
            - number
            - "null"
        dy_12m:
          type:
            - number
            - "null"
        pvp:
          type:
            - number
            - "null"
        vacancia_fisica:
          type:
            - number
            - "null"
        patrimonio_liquido:
          type:
            - number
            - "null"
      required:
        - ticker
        - name
        - segment
        - is_paper
        - reference_date
        - preco
        - dy_12m
        - pvp
        - vacancia_fisica
        - patrimonio_liquido
    RegimeSignal:
      type: object
      properties:
        name:
          type: string
        value:
          type:
            - number
            - "null"
        direction:
          type:
            - string
            - "null"
          enum:
            - up
            - down
            - flat
            - null
        lineage:
          $ref: "#/components/schemas/Lineage"
        unit:
          type:
            - string
            - "null"
        label:
          type:
            - string
            - "null"
        date:
          type:
            - string
            - "null"
      required:
        - name
        - value
        - direction
        - lineage
    RegimeSnapshot:
      type: object
      properties:
        as_of:
          type:
            - string
            - "null"
        quadrant:
          type:
            - string
            - "null"
          enum:
            - growth_up_inflation_up
            - growth_up_inflation_down
            - growth_down_inflation_up
            - growth_down_inflation_down
            - null
        growth:
          type: object
          properties:
            direction:
              type:
                - string
                - "null"
              enum:
                - up
                - down
                - flat
                - null
            signals:
              type: array
              items:
                $ref: "#/components/schemas/RegimeSignal"
          required:
            - direction
            - signals
        inflation:
          type: object
          properties:
            direction:
              type:
                - string
                - "null"
              enum:
                - up
                - down
                - flat
                - null
            signals:
              type: array
              items:
                $ref: "#/components/schemas/RegimeSignal"
          required:
            - direction
            - signals
        cross_asset:
          type: object
          properties:
            dy_vs_selic_spread:
              type:
                - number
                - "null"
            equity_risk_premium:
              type:
                - number
                - "null"
            real_selic:
              type:
                - number
                - "null"
          required:
            - dy_vs_selic_spread
            - equity_risk_premium
            - real_selic
      required:
        - as_of
        - quadrant
        - growth
        - inflation
        - cross_asset
    Expectation:
      type: object
      properties:
        survey_date:
          type: string
        reference:
          type: string
        median:
          type:
            - number
            - "null"
        mean:
          type:
            - number
            - "null"
        std_dev:
          type:
            - number
            - "null"
        respondents:
          type:
            - number
            - "null"
        base:
          type:
            - number
            - "null"
      required:
        - survey_date
        - reference
        - median
        - mean
        - std_dev
        - respondents
        - base
    TesouroBondQuote:
      type: object
      properties:
        type:
          type:
            - string
            - "null"
        name:
          type:
            - string
            - "null"
        maturity:
          type:
            - string
            - "null"
        date:
          type:
            - string
            - "null"
        buy_rate:
          type:
            - number
            - "null"
        sell_rate:
          type:
            - number
            - "null"
        buy_price:
          type:
            - number
            - "null"
        sell_price:
          type:
            - number
            - "null"
      required:
        - type
        - name
        - maturity
        - date
        - buy_rate
        - sell_rate
        - buy_price
        - sell_price
    IndexMeta:
      type: object
      properties:
        code:
          type: string
        name:
          type: string
        rebalancing:
          type: string
      required:
        - code
        - name
        - rebalancing
    IndexComposition:
      type: object
      properties:
        code:
          type: string
        effective_date:
          type: string
        components:
          type: array
          items:
            type: object
            properties:
              ticker:
                type: string
              weight:
                type: number
              theoretical_quantity:
                type: number
            required:
              - ticker
              - weight
              - theoretical_quantity
      required:
        - code
        - effective_date
        - components
    SeriesMeta:
      type: object
      properties:
        source:
          type: string
        series_id:
          type: string
        name:
          type:
            - string
            - "null"
        label:
          type:
            - string
            - "null"
        unit:
          type:
            - string
            - "null"
        frequency:
          type:
            - string
            - "null"
        first_date:
          type:
            - string
            - "null"
        last_date:
          type:
            - string
            - "null"
      required:
        - source
        - series_id
        - name
        - label
        - unit
        - frequency
        - first_date
        - last_date
    Fii:
      type: object
      properties:
        ticker:
          type: string
        cnpj:
          type:
            - string
            - "null"
        name:
          type:
            - string
            - "null"
        segment:
          type:
            - string
            - "null"
        administrator:
          type:
            - string
            - "null"
        manager:
          type:
            - string
            - "null"
        is_paper:
          type: boolean
      required:
        - ticker
        - cnpj
        - name
        - segment
        - administrator
        - manager
        - is_paper
    FiiDistribution:
      type: object
      properties:
        ex_date:
          type:
            - string
            - "null"
        payment_date:
          type:
            - string
            - "null"
        value_per_share:
          type:
            - number
            - "null"
        tax_free:
          type: boolean
      required:
        - ex_date
        - payment_date
        - value_per_share
        - tax_free
    FiiMonthlyReport:
      type: object
      properties:
        reference_month:
          type:
            - string
            - "null"
        net_asset_value:
          type:
            - number
            - "null"
        value_per_share:
          type:
            - number
            - "null"
        monthly_dividend_yield_pct:
          type:
            - number
            - "null"
        shareholders:
          type:
            - number
            - "null"
        shares_issued:
          type:
            - number
            - "null"
      required:
        - reference_month
        - net_asset_value
        - value_per_share
        - monthly_dividend_yield_pct
        - shareholders
        - shares_issued
    BdrProfile:
      type: object
      properties:
        ticker:
          type: string
        name:
          type:
            - string
            - "null"
        isin:
          type:
            - string
            - "null"
        kind:
          type:
            - string
            - "null"
          description: patrocinado | nao_patrocinado
        spec:
          type:
            - string
            - "null"
        first_traded:
          type:
            - string
            - "null"
        last_traded:
          type:
            - string
            - "null"
        sessions:
          type:
            - number
            - "null"
      required:
        - ticker
        - name
        - isin
        - kind
        - spec
        - first_traded
        - last_traded
        - sessions
    BdrQuote:
      type: object
      properties:
        date:
          type: string
        open:
          type:
            - number
            - "null"
        high:
          type:
            - number
            - "null"
        low:
          type:
            - number
            - "null"
        close:
          type:
            - number
            - "null"
        close_raw:
          type:
            - number
            - "null"
        volume:
          type:
            - number
            - "null"
        adjust_quality:
          type:
            - string
            - "null"
      required:
        - date
        - open
        - high
        - low
        - close
        - close_raw
        - volume
        - adjust_quality
    OptionsChain:
      type: object
      properties:
        underlying_ticker:
          type: string
        date:
          type:
            - string
            - "null"
        count:
          type: number
        options:
          type: array
          items:
            $ref: "#/components/schemas/OptionContract"
      required:
        - underlying_ticker
        - date
        - count
        - options
    OptionContract:
      type: object
      properties:
        option_ticker:
          type: string
        underlying_ticker:
          type:
            - string
            - "null"
        underlying_root:
          type:
            - string
            - "null"
        option_type:
          type:
            - string
            - "null"
          description: call | put
        strike:
          type:
            - number
            - "null"
        expiry:
          type:
            - string
            - "null"
        date:
          type:
            - string
            - "null"
        last:
          type:
            - number
            - "null"
        volume_brl:
          type:
            - number
            - "null"
        trades:
          type:
            - number
            - "null"
        underlying_spot:
          type:
            - number
            - "null"
        days_to_expiry:
          type:
            - number
            - "null"
        moneyness:
          type:
            - number
            - "null"
          description: spot / strike
        intrinsic:
          type:
            - number
            - "null"
        time_value:
          type:
            - number
            - "null"
        iv:
          type:
            - number
            - "null"
          description: vol implícita anualizada (Black-Scholes europeu)
        delta:
          type:
            - number
            - "null"
        gamma:
          type:
            - number
            - "null"
        vega:
          type:
            - number
            - "null"
          description: por 1% de vol
        theta:
          type:
            - number
            - "null"
          description: por dia corrido
        iv_amer:
          type:
            - number
            - "null"
          description: IV americana (binomial CRR) — corrige exercício antecipado;
            relevante em puts
        delta_amer:
          type:
            - number
            - "null"
        gamma_amer:
          type:
            - number
            - "null"
        vega_amer:
          type:
            - number
            - "null"
          description: por 1% de vol
        theta_amer:
          type:
            - number
            - "null"
          description: por dia corrido
        early_ex_premium:
          type:
            - number
            - "null"
          description: "prêmio de exercício antecipado: preço americano − europeu (mesmo σ)"
      required:
        - option_ticker
        - underlying_ticker
        - underlying_root
        - option_type
        - strike
        - expiry
        - date
        - last
        - volume_brl
        - trades
        - underlying_spot
        - days_to_expiry
        - moneyness
        - intrinsic
        - time_value
        - iv
        - delta
        - gamma
        - vega
        - theta
        - iv_amer
        - delta_amer
        - gamma_amer
        - vega_amer
        - theta_amer
        - early_ex_premium
    OptionExpiries:
      type: object
      properties:
        underlying_ticker:
          type: string
        expiries:
          type: array
          items:
            type: object
            properties:
              expiry:
                type: string
              count:
                type: number
            required:
              - expiry
              - count
      required:
        - underlying_ticker
        - expiries
    OptionQuote:
      type: object
      properties:
        date:
          type: string
        option_ticker:
          type: string
        option_type:
          type:
            - string
            - "null"
        strike:
          type:
            - number
            - "null"
        expiry:
          type:
            - string
            - "null"
        open:
          type:
            - number
            - "null"
        high:
          type:
            - number
            - "null"
        low:
          type:
            - number
            - "null"
        last:
          type:
            - number
            - "null"
        volume_brl:
          type:
            - number
            - "null"
        trades:
          type:
            - number
            - "null"
        underlying_spot:
          type:
            - number
            - "null"
        moneyness:
          type:
            - number
            - "null"
        intrinsic:
          type:
            - number
            - "null"
        time_value:
          type:
            - number
            - "null"
        iv:
          type:
            - number
            - "null"
        delta:
          type:
            - number
            - "null"
        gamma:
          type:
            - number
            - "null"
        vega:
          type:
            - number
            - "null"
        theta:
          type:
            - number
            - "null"
      required:
        - date
        - option_ticker
        - option_type
        - strike
        - expiry
        - open
        - high
        - low
        - last
        - volume_brl
        - trades
        - underlying_spot
        - moneyness
        - intrinsic
        - time_value
        - iv
        - delta
        - gamma
        - vega
        - theta
    CryptoCandle:
      type: object
      properties:
        open_time:
          type: string
        close_time:
          type: string
        open:
          type:
            - number
            - "null"
        high:
          type:
            - number
            - "null"
        low:
          type:
            - number
            - "null"
        close:
          type:
            - number
            - "null"
        volume:
          type:
            - number
            - "null"
          description: Volume na moeda base
        quote_volume:
          type:
            - number
            - "null"
          description: Volume em BRL
        trades:
          type:
            - number
            - "null"
      required:
        - open_time
        - close_time
        - open
        - high
        - low
        - close
        - volume
        - quote_volume
        - trades
    SearchResult:
      type: object
      properties:
        kind:
          type: string
          enum:
            - stock
            - fii
            - index
            - bond
            - macro
        ticker:
          type: string
        title:
          type: string
        subtitle:
          type:
            - string
            - "null"
        href:
          type: string
        score:
          type: number
      required:
        - kind
        - ticker
        - title
        - subtitle
        - href
        - score
    IngestRunSummary:
      type: object
      properties:
        run_id:
          type: string
        trigger:
          type: string
        started_at:
          type: string
        finished_at:
          type: string
        duration_s:
          type: number
        exit:
          type: number
        ok:
          type: boolean
        error_count:
          type: number
      required:
        - run_id
        - trigger
        - started_at
        - finished_at
        - duration_s
        - exit
        - ok
        - error_count
    IngestSourceHealth:
      type: object
      properties:
        source:
          type: string
        status:
          type: string
          enum:
            - ok
            - stale
            - error
            - no_data
        last_fetch:
          type:
            - string
            - "null"
        age_days:
          type:
            - number
            - "null"
        datasets:
          type: number
        missing:
          type: number
        failed_validation:
          type: number
        ok:
          type: number
        skip:
          type: number
        miss:
          type: number
        err:
          type: number
        rows:
          type: number
        duration_s:
          type:
            - number
            - "null"
      required:
        - source
        - status
        - last_fetch
        - age_days
        - datasets
        - missing
        - failed_validation
        - ok
        - skip
        - miss
        - err
        - rows
        - duration_s
tags:
  - name: Companies
    description: Companhias abertas (cadastro CVM) e demonstrações
  - name: Stocks
    description: Ações — cotações, indicadores, proventos e eventos
  - name: FIIs
    description: Fundos imobiliários — indicadores e distribuições
  - name: Bonds
    description: Títulos públicos (Tesouro Direto) e curvas de juros
  - name: Crypto
    description: Criptoativos em BRL
  - name: Indices
    description: Índices da B3 (IBOV, IFIX, ...) e composições
  - name: BDR
    description: BDRs (recibos de ações estrangeiras) — catálogo e cotações
  - name: Options
    description: Opções sobre ações — cadeia vigente e histórico EOD
  - name: Macro
    description: Séries macroeconômicas, expectativas Focus e regime
  - name: Screener
    description: Filtros multi-critério sobre ações e FIIs
  - name: System
    description: Saúde e metadados da API
paths:
  /v1/health:
    get:
      responses:
        "200":
          description: Status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Health"
        default: &a1
          description: Erro (RFC 9457 application/problem+json)
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
      operationId: getHealth
      tags:
        - System
      parameters: []
      summary: Status da API e frescor dos dados
      security: []
  /v1/companies:
    get:
      responses:
        "200":
          description: Página de companhias
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Company"
                  meta:
                    type: object
                    properties:
                      next_cursor:
                        type:
                          - string
                          - "null"
                      count:
                        type: integer
                        description: Itens nesta página
                    required:
                      - next_cursor
                      - count
                required:
                  - data
                  - meta
        default: *a1
      operationId: listCompanies
      tags:
        - Companies
      parameters:
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - in: query
          name: sector
          schema:
            type: string
        - in: query
          name: segment
          schema:
            type: string
        - in: query
          name: search
          schema:
            type: string
      summary: Lista companhias abertas (cadastro CVM)
  /v1/companies/{cvm_code}:
    get:
      responses:
        "200":
          description: Companhia
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
        default: *a1
      operationId: getCompany
      tags:
        - Companies
      parameters:
        - in: path
          name: cvm_code
          schema:
            type: integer
            exclusiveMinimum: 0
          required: true
      summary: Companhia por código CVM
  /v1/companies/{cvm_code}/documents:
    get:
      responses:
        "200":
          description: Página de documentos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Document"
                  meta:
                    type: object
                    properties:
                      next_cursor:
                        type:
                          - string
                          - "null"
                      count:
                        type: integer
                        description: Itens nesta página
                    required:
                      - next_cursor
                      - count
                required:
                  - data
                  - meta
        default: *a1
      operationId: listCompanyDocuments
      tags:
        - Companies
      parameters:
        - in: path
          name: cvm_code
          schema:
            type: integer
            exclusiveMinimum: 0
          required: true
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - in: query
          name: category
          schema:
            type: string
        - in: query
          name: from
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - in: query
          name: to
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
      summary: Documentos e comunicados (IPE/CVM)
  /v1/stocks/{ticker}:
    get:
      responses:
        "200":
          description: Ação
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Stock"
        default: *a1
      operationId: getStock
      tags:
        - Stocks
      parameters:
        - in: path
          name: ticker
          schema:
            type: string
            pattern: ^[A-Z][A-Z0-9]{3}[0-9]{0,2}$
          required: true
      summary: Perfil e última cotação do papel
  /v1/stocks/{ticker}/quotes:
    get:
      responses:
        "200":
          description: Página de cotações
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Quote"
                  meta:
                    type: object
                    properties:
                      next_cursor:
                        type:
                          - string
                          - "null"
                      count:
                        type: integer
                        description: Itens nesta página
                    required:
                      - next_cursor
                      - count
                required:
                  - data
                  - meta
        default: *a1
      operationId: listQuotes
      tags:
        - Stocks
      parameters:
        - in: path
          name: ticker
          schema:
            type: string
            pattern: ^[A-Z][A-Z0-9]{3}[0-9]{0,2}$
          required: true
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 20000
            default: 100
        - in: query
          name: from
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - in: query
          name: to
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - in: query
          name: adjusted
          schema:
            type: string
      summary: Série de cotações OHLCV
      description: Ajustada por eventos por default; `from`/`to` filtram o período
        (from <= to).
  /v1/stocks/{ticker}/indicators:
    get:
      responses:
        "200":
          description: Indicadores do papel
          content:
            application/json:
              schema:
                type: object
                properties:
                  ticker:
                    type: string
                  reference_date:
                    type: string
                  is_financial:
                    type: boolean
                  indicators:
                    type: array
                    items:
                      $ref: "#/components/schemas/IndicatorValue"
                required:
                  - ticker
                  - reference_date
                  - is_financial
                  - indicators
        default: *a1
      operationId: getStockIndicators
      tags:
        - Stocks
      parameters:
        - in: path
          name: ticker
          schema:
            type: string
            pattern: ^[A-Z][A-Z0-9]{3}[0-9]{0,2}$
          required: true
        - in: query
          name: names
          schema:
            type: string
        - in: query
          name: at
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
      summary: Indicadores fundamentalistas (snapshot TTM)
  /v1/stocks/{ticker}/indicators/history:
    get:
      responses:
        "200":
          description: Série do indicador
          content:
            application/json:
              schema:
                type: object
                properties:
                  ticker:
                    type: string
                  name:
                    type: string
                  label:
                    type: string
                  unit:
                    type: string
                    enum: *a2
                  observations:
                    type: array
                    items:
                      $ref: "#/components/schemas/Observation"
                required:
                  - ticker
                  - name
                  - label
                  - unit
                  - observations
        default: *a1
      operationId: getStockIndicatorHistory
      tags:
        - Stocks
      parameters:
        - in: path
          name: ticker
          schema:
            type: string
            pattern: ^[A-Z][A-Z0-9]{3}[0-9]{0,2}$
          required: true
        - in: query
          name: name
          schema:
            type: string
            minLength: 1
          required: true
        - in: query
          name: from
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
          required: false
        - in: query
          name: to
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
          required: false
      summary: Histórico de um indicador (trimestral)
  /v1/stocks/{ticker}/dividends:
    get:
      responses:
        "200":
          description: Página de proventos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Dividend"
                  meta:
                    type: object
                    properties:
                      next_cursor:
                        type:
                          - string
                          - "null"
                      count:
                        type: integer
                        description: Itens nesta página
                    required:
                      - next_cursor
                      - count
                required:
                  - data
                  - meta
        default: *a1
      operationId: listDividends
      tags:
        - Stocks
      parameters:
        - in: path
          name: ticker
          schema:
            type: string
            pattern: ^[A-Z][A-Z0-9]{3}[0-9]{0,2}$
          required: true
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - in: query
          name: from
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - in: query
          name: to
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
      summary: Proventos (dividendos e JCP)
  /v1/stocks/{ticker}/events:
    get:
      responses:
        "200":
          description: Lista de eventos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CorporateEvent"
        default: *a1
      operationId: listCorporateEvents
      tags:
        - Stocks
      parameters:
        - in: path
          name: ticker
          schema:
            type: string
            pattern: ^[A-Z][A-Z0-9]{3}[0-9]{0,2}$
          required: true
        - in: query
          name: from
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - in: query
          name: to
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
      summary: Eventos societários (desdobramentos, grupamentos, bonificações)
  /v1/stocks/{ticker}/insider:
    get:
      responses:
        "200":
          description: Saldo mensal de insiders
          content:
            application/json:
              schema:
                type: object
                properties:
                  ticker:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/InsiderMove"
                required:
                  - ticker
                  - data
        default: *a1
      operationId: listInsiderMoves
      tags:
        - Stocks
      parameters:
        - in: path
          name: ticker
          schema:
            type: string
            pattern: ^[A-Z][A-Z0-9]{3}[0-9]{0,2}$
          required: true
        - in: query
          name: from
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - in: query
          name: to
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
      summary: Movimentações de insiders (CVM VLMO, por mês)
  /v1/screener/stocks:
    get:
      responses:
        "200":
          description: Página de resultados
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ScreenerRow"
                  meta:
                    type: object
                    properties:
                      next_cursor:
                        type:
                          - string
                          - "null"
                      count:
                        type: integer
                        description: Itens nesta página
                    required:
                      - next_cursor
                      - count
                required:
                  - data
                  - meta
        default: *a1
      operationId: screenStocks
      tags:
        - Screener
      parameters:
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - in: query
          name: pl_min
          schema:
            type: number
        - in: query
          name: pl_max
          schema:
            type: number
        - in: query
          name: pvp_min
          schema:
            type: number
        - in: query
          name: pvp_max
          schema:
            type: number
        - in: query
          name: dy_min
          schema:
            type: number
        - in: query
          name: roe_min
          schema:
            type: number
        - in: query
          name: ev_ebitda_max
          schema:
            type: number
        - in: query
          name: div_liq_ebitda_max
          schema:
            type: number
        - in: query
          name: sector
          schema:
            type: string
        - in: query
          name: segment
          schema:
            type: string
        - in: query
          name: sort
          schema:
            type: string
      summary: Filtra ações por múltiplos critérios fundamentalistas
  /v1/screener/fiis:
    get:
      responses:
        "200":
          description: Página de FIIs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/FiiListRow"
                  meta:
                    type: object
                    properties:
                      next_cursor:
                        type:
                          - string
                          - "null"
                      count:
                        type: integer
                        description: Itens nesta página
                    required:
                      - next_cursor
                      - count
                required:
                  - data
                  - meta
        default: *a1
      operationId: screenFiis
      tags:
        - Screener
      parameters:
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - in: query
          name: segment
          schema:
            type: string
        - in: query
          name: paper
          schema:
            type: string
            enum:
              - "true"
              - "false"
        - in: query
          name: sort
          schema:
            type: string
      summary: Universo de FIIs filtrável por segmento e tijolo/papel
  /v1/macro/gears:
    get:
      responses:
        "200":
          description: Sinais por engrenagem
          content:
            application/json:
              schema:
                type: object
                properties:
                  as_of:
                    type:
                      - string
                      - "null"
                  gears:
                    type: array
                    items:
                      type: object
                      properties:
                        gear:
                          type: string
                        indicators:
                          type: array
                          items:
                            $ref: "#/components/schemas/RegimeSignal"
                      required:
                        - gear
                        - indicators
                required:
                  - as_of
                  - gears
        default: *a1
      operationId: getMacroGears
      tags:
        - Macro
      parameters:
        - in: query
          name: gear
          schema:
            type: string
            enum:
              - monetary
              - inflation
              - growth
              - employment
              - credit
              - fiscal
              - external
              - sovereign_risk
              - global
              - currency
              - cross_asset
        - in: query
          name: at
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
      summary: Engrenagens macro (sinais por seção)
  /v1/macro/regime:
    get:
      responses:
        "200":
          description: Snapshot do regime
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegimeSnapshot"
        default: *a1
      operationId: getMacroRegime
      tags:
        - Macro
      parameters:
        - in: query
          name: at
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
      summary: Regime econômico (quadrante crescimento × inflação)
  /v1/macro/expectations:
    get:
      responses:
        "200":
          description: Expectativas
          content:
            application/json:
              schema:
                type: object
                properties:
                  indicator:
                    type: string
                  reference:
                    type:
                      - string
                      - "null"
                  realized:
                    type:
                      - number
                      - "null"
                  surveys:
                    type: array
                    items:
                      $ref: "#/components/schemas/Expectation"
                required:
                  - indicator
                  - reference
                  - realized
                  - surveys
        default: *a1
      operationId: getMarketExpectations
      tags:
        - Macro
      parameters:
        - in: query
          name: indicator
          schema:
            type: string
            enum:
              - ipca
              - selic
              - pib
              - cambio
          required: true
        - in: query
          name: reference
          schema:
            type: string
          required: false
        - in: query
          name: from
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
          required: false
        - in: query
          name: to
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
          required: false
      summary: Expectativas Focus (consenso por indicador)
  /v1/bonds/tesouro/yield-curve:
    get:
      responses:
        "200":
          description: Curva de juros
          content:
            application/json:
              schema:
                type: object
                properties:
                  date:
                    type:
                      - string
                      - "null"
                  kind:
                    type: string
                    enum:
                      - nominal
                      - real
                  points:
                    type: array
                    items:
                      type: object
                      properties:
                        maturity:
                          type: string
                        years:
                          type:
                            - number
                            - "null"
                        rate:
                          type: number
                      required:
                        - maturity
                        - years
                        - rate
                required:
                  - date
                  - kind
                  - points
        default: *a1
      operationId: getYieldCurve
      tags:
        - Bonds
      parameters:
        - in: query
          name: date
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - in: query
          name: kind
          schema:
            type: string
            enum:
              - nominal
              - real
            default: nominal
      summary: Curva de juros (Tesouro), um ponto por vencimento
  /v1/bonds/tesouro:
    get:
      responses:
        "200":
          description: Página de títulos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/TesouroBondQuote"
                  meta:
                    type: object
                    properties:
                      next_cursor:
                        type:
                          - string
                          - "null"
                      count:
                        type: integer
                        description: Itens nesta página
                    required:
                      - next_cursor
                      - count
                required:
                  - data
                  - meta
        default: *a1
      operationId: listTesouroBonds
      tags:
        - Bonds
      parameters:
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - in: query
          name: type
          schema:
            type: string
            enum:
              - LTN
              - NTN-F
              - NTN-B
              - NTN-B-Principal
              - LFT
              - RENDA+
              - EDUCA+
        - in: query
          name: maturity
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - in: query
          name: date
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
      summary: Títulos do Tesouro Direto (taxas e preços)
  /v1/indices:
    get:
      responses:
        "200":
          description: Lista de índices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/IndexMeta"
        default: *a1
      operationId: listIndices
      tags:
        - Indices
      parameters: []
      summary: Índices disponíveis (IBOV, IFIX, ...)
  /v1/indices/{code}/quotes:
    get:
      responses:
        "200":
          description: Página de níveis
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Observation"
                  meta:
                    type: object
                    properties:
                      next_cursor:
                        type:
                          - string
                          - "null"
                      count:
                        type: integer
                        description: Itens nesta página
                    required:
                      - next_cursor
                      - count
                required:
                  - data
                  - meta
        default: *a1
      operationId: listIndexQuotes
      tags:
        - Indices
      parameters:
        - in: path
          name: code
          schema:
            type: string
            minLength: 1
          required: true
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 20000
            default: 100
        - in: query
          name: from
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - in: query
          name: to
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
      summary: Série de níveis diários de um índice
  /v1/indices/{code}/composition:
    get:
      responses:
        "200":
          description: Composição teórica
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexComposition"
        default: *a1
      operationId: getIndexComposition
      tags:
        - Indices
      parameters:
        - in: path
          name: code
          schema:
            type: string
            minLength: 1
          required: true
      summary: Composição teórica do índice (carteira teórica vigente)
  /v1/series:
    get:
      responses:
        "200":
          description: Página do catálogo
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SeriesMeta"
                  meta:
                    type: object
                    properties:
                      next_cursor:
                        type:
                          - string
                          - "null"
                      count:
                        type: integer
                        description: Itens nesta página
                    required:
                      - next_cursor
                      - count
                required:
                  - data
                  - meta
        default: *a1
      operationId: listSeries
      tags:
        - Macro
      parameters:
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - in: query
          name: source
          schema:
            type: string
            enum:
              - bcb_sgs
              - bcb_focus
              - ibge_sidra
              - fred
              - ipeadata
              - tesouro_direto
        - in: query
          name: search
          schema:
            type: string
      summary: Catálogo de séries (BCB/IBGE/FRED/...)
  /v1/series/{source}/{series_id}:
    get:
      responses:
        "200":
          description: Série com metadados e observações
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: "#/components/schemas/SeriesMeta"
                  observations:
                    type: array
                    items:
                      $ref: "#/components/schemas/Observation"
                required:
                  - meta
                  - observations
        default: *a1
      operationId: getSeries
      tags:
        - Macro
      parameters:
        - in: path
          name: source
          schema:
            type: string
            minLength: 1
          required: true
        - in: path
          name: series_id
          schema:
            type: string
            minLength: 1
          required: true
        - in: query
          name: from
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - in: query
          name: to
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - in: query
          name: accumulated
          schema:
            type: string
            enum:
              - none
              - 12m
            default: none
      summary: Observações de uma série (com acumulados opcionais)
  /v1/fiis/{ticker}:
    get:
      responses:
        "200":
          description: FII
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Fii"
        default: *a1
      operationId: getFii
      tags:
        - FIIs
      parameters:
        - in: path
          name: ticker
          schema:
            type: string
            pattern: ^[A-Z][A-Z0-9]{3}[0-9]{0,2}$
          required: true
      summary: Perfil do fundo imobiliário
  /v1/fiis/{ticker}/indicators:
    get:
      responses:
        "200":
          description: Indicadores do FII
          content:
            application/json:
              schema:
                type: object
                properties:
                  ticker:
                    type: string
                  reference_date:
                    type:
                      - string
                      - "null"
                  indicators:
                    type: array
                    items:
                      $ref: "#/components/schemas/IndicatorValue"
                required:
                  - ticker
                  - reference_date
                  - indicators
        default: *a1
      operationId: getFiiIndicators
      tags:
        - FIIs
      parameters:
        - in: path
          name: ticker
          schema:
            type: string
            pattern: ^[A-Z][A-Z0-9]{3}[0-9]{0,2}$
          required: true
      summary: Indicadores do FII (snapshot)
  /v1/fiis/{ticker}/indicators/history:
    get:
      responses:
        "200":
          description: Série do indicador
          content:
            application/json:
              schema:
                type: object
                properties:
                  ticker:
                    type: string
                  name:
                    type: string
                  label:
                    type: string
                  unit:
                    type: string
                    enum: *a2
                  observations:
                    type: array
                    items:
                      $ref: "#/components/schemas/Observation"
                required:
                  - ticker
                  - name
                  - label
                  - unit
                  - observations
        default: *a1
      operationId: getFiiIndicatorHistory
      tags:
        - FIIs
      parameters:
        - in: path
          name: ticker
          schema:
            type: string
            pattern: ^[A-Z][A-Z0-9]{3}[0-9]{0,2}$
          required: true
        - in: query
          name: name
          schema:
            type: string
            minLength: 1
          required: true
        - in: query
          name: from
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
          required: false
        - in: query
          name: to
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
          required: false
      summary: Histórico de um indicador do FII (informe mensal)
  /v1/fiis/{ticker}/distributions:
    get:
      responses:
        "200":
          description: Página de distribuições
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/FiiDistribution"
                  meta:
                    type: object
                    properties:
                      next_cursor:
                        type:
                          - string
                          - "null"
                      count:
                        type: integer
                        description: Itens nesta página
                    required:
                      - next_cursor
                      - count
                required:
                  - data
                  - meta
        default: *a1
      operationId: listFiiDistributions
      tags:
        - FIIs
      parameters:
        - in: path
          name: ticker
          schema:
            type: string
            pattern: ^[A-Z][A-Z0-9]{3}[0-9]{0,2}$
          required: true
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - in: query
          name: from
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - in: query
          name: to
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
      summary: Distribuições (rendimentos) do FII
  /v1/fiis/{ticker}/reports:
    get:
      responses:
        "200":
          description: Página de informes
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/FiiMonthlyReport"
                  meta:
                    type: object
                    properties:
                      next_cursor:
                        type:
                          - string
                          - "null"
                      count:
                        type: integer
                        description: Itens nesta página
                    required:
                      - next_cursor
                      - count
                required:
                  - data
                  - meta
        default: *a1
      operationId: listFiiReports
      tags:
        - FIIs
      parameters:
        - in: path
          name: ticker
          schema:
            type: string
            pattern: ^[A-Z][A-Z0-9]{3}[0-9]{0,2}$
          required: true
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - in: query
          name: from
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - in: query
          name: to
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
      summary: Informes mensais do FII
  /v1/bdr:
    get:
      responses:
        "200":
          description: Página de BDRs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/BdrProfile"
                  meta:
                    type: object
                    properties:
                      next_cursor:
                        type:
                          - string
                          - "null"
                      count:
                        type: integer
                        description: Itens nesta página
                    required:
                      - next_cursor
                      - count
                required:
                  - data
                  - meta
        default: *a1
      operationId: listBdrs
      tags:
        - BDR
      parameters:
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - in: query
          name: search
          schema:
            type: string
      summary: Catálogo de BDRs (recibos de ações estrangeiras)
  /v1/bdr/{ticker}:
    get:
      responses:
        "200":
          description: BDR
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BdrProfile"
        default: *a1
      operationId: getBdr
      tags:
        - BDR
      parameters:
        - in: path
          name: ticker
          schema:
            type: string
            pattern: ^[A-Z][A-Z0-9]{3}[0-9]{0,2}$
          required: true
      summary: Perfil de um BDR
  /v1/bdr/{ticker}/quotes:
    get:
      responses:
        "200":
          description: Página de cotações
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/BdrQuote"
                  meta:
                    type: object
                    properties:
                      next_cursor:
                        type:
                          - string
                          - "null"
                      count:
                        type: integer
                        description: Itens nesta página
                    required:
                      - next_cursor
                      - count
                required:
                  - data
                  - meta
        default: *a1
      operationId: listBdrQuotes
      tags:
        - BDR
      parameters:
        - in: path
          name: ticker
          schema:
            type: string
            pattern: ^[A-Z][A-Z0-9]{3}[0-9]{0,2}$
          required: true
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - in: query
          name: from
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - in: query
          name: to
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
      summary: Cotações EOD de um BDR
      description: Preços do BDR (events_only). BDR fica `adjust_quality='no_event_source'`.
  /v1/options/{ticker}/chain:
    get:
      responses:
        "200":
          description: Cadeia de opções
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OptionsChain"
        default: *a1
      operationId: getOptionsChain
      tags:
        - Options
      parameters:
        - in: path
          name: ticker
          schema:
            type: string
            pattern: ^[A-Z][A-Z0-9]{3}[0-9]{0,2}$
          required: true
        - in: query
          name: expiry
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - in: query
          name: type
          schema:
            type: string
            enum:
              - call
              - put
      summary: Cadeia de opções vigente de um subjacente
      description: Séries vivas (não vencidas) que negociaram; filtre por `expiry`/`type`.
  /v1/options/{ticker}/expiries:
    get:
      responses:
        "200":
          description: Vencimentos
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OptionExpiries"
        default: *a1
      operationId: listOptionExpiries
      tags:
        - Options
      parameters:
        - in: path
          name: ticker
          schema:
            type: string
            pattern: ^[A-Z][A-Z0-9]{3}[0-9]{0,2}$
          required: true
      summary: Vencimentos disponíveis de um subjacente
  /v1/options/{option}/quotes:
    get:
      responses:
        "200":
          description: Página de cotações
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/OptionQuote"
                  meta:
                    type: object
                    properties:
                      next_cursor:
                        type:
                          - string
                          - "null"
                      count:
                        type: integer
                        description: Itens nesta página
                    required:
                      - next_cursor
                      - count
                required:
                  - data
                  - meta
        default: *a1
      operationId: listOptionQuotes
      tags:
        - Options
      parameters:
        - in: path
          name: option
          schema:
            type: string
            pattern: ^[A-Z0-9]{4,14}$
          required: true
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - in: query
          name: from
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - in: query
          name: to
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
      summary: Histórico EOD de uma série de opção
  /v1/crypto/{symbol}/quotes:
    get:
      responses:
        "200":
          description: Página de candles
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/CryptoCandle"
                  meta:
                    type: object
                    properties:
                      next_cursor:
                        type:
                          - string
                          - "null"
                      count:
                        type: integer
                        description: Itens nesta página
                    required:
                      - next_cursor
                      - count
                required:
                  - data
                  - meta
        default: *a1
      operationId: listCryptoQuotes
      tags:
        - Crypto
      parameters:
        - in: path
          name: symbol
          schema:
            type: string
            pattern: ^[A-Z0-9]+$
            minLength: 3
            maxLength: 16
          required: true
        - in: query
          name: cursor
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 20000
            default: 100
        - in: query
          name: interval
          schema:
            type: string
            enum:
              - 1d
              - 1h
            default: 1d
        - in: query
          name: from
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
        - in: query
          name: to
          schema:
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
      summary: Candles de um criptoativo (diário; 1h vazio no v1)
  /v1/search:
    get:
      responses:
        "200":
          description: Resultados ranqueados
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SearchResult"
        default: *a1
      operationId: search
      tags:
        - System
      parameters:
        - in: query
          name: q
          schema:
            type: string
            minLength: 1
            maxLength: 64
          required: true
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
          required: false
      summary: Busca unificada (typeahead) por ações/FIIs/índices/títulos/macro
  /v1/ingest:
    get:
      responses:
        "200":
          description: Saúde da ingestão
          content:
            application/json:
              schema:
                type: object
                properties:
                  latest:
                    oneOf:
                      - allOf:
                          - $ref: "#/components/schemas/IngestRunSummary"
                        properties:
                          errors:
                            type: array
                            items:
                              type: string
                        required:
                          - errors
                      - type: "null"
                  sources:
                    type: array
                    items:
                      $ref: "#/components/schemas/IngestSourceHealth"
                  recent_runs:
                    type: array
                    items:
                      $ref: "#/components/schemas/IngestRunSummary"
                required:
                  - latest
                  - sources
                  - recent_runs
        default: *a1
      operationId: getIngestHealth
      tags:
        - System
      parameters: []
      summary: Saúde da ingestão (última run, fontes, histórico)
