openapi: 3.1.0
info:
  title: DataBolsa API
  description: >-
    API aberta de dados do mercado financeiro brasileiro.


    Convenções:

    - Datas em ISO 8601; valores monetários em BRL salvo campo `currency`.

    - Preços de ações **ajustados por proventos por default** (`adjusted=true`).

    - Indicadores fundamentalistas **TTM por default**, de demonstrações
    consolidadas.

    - **Toda listagem e toda série** respondem `{ data, meta }`: os itens em
    `data` e, em `meta`,
      sempre a paginação (`next_cursor`, `count`). Parte das rotas ecoa também o contexto da
      consulta em `meta` (ticker, sessão, indicador, data-base...) — confira o schema da
      operação antes de depender disso, porque não é universal. Rotas sem cursor trazem
      `next_cursor: null` — nunca um envelope diferente.
    - Paginação por cursor onde ela existe: `?cursor=&limit=`; siga
    `meta.next_cursor` até null.

    - Recursos singulares (um papel, uma companhia, um fundo, uma thread de
    eventos, a saúde da
      ingestão) respondem o objeto direto, sem `data`.
    - Erros seguem RFC 9457 (`application/problem+json`).

    - Toda métrica é rastreável à fonte primária (campo `lineage`).
  version: 3.0.0
  contact:
    name: DataBolsa
  license:
    name: Apache-2.0
servers:
  - url: https://api.databolsa.com
    description: Produção
  - url: http://localhost:8080
    description: Self-hosted
security:
  - bearerApiKey: []
components:
  securitySchemes:
    bearerApiKey:
      type: http
      scheme: bearer
  schemas:
    Health:
      type: object
      properties:
        status:
          type: string
          enum:
            - ok
            - degraded
        version:
          type: string
        data_freshness:
          type: object
          additionalProperties:
            type: string
      required:
        - status
        - version
        - data_freshness
    Problem:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
      required:
        - type
        - title
        - status
    Company:
      type: object
      properties:
        cvm_code:
          type: integer
        cnpj:
          type:
            - string
            - "null"
        name:
          type:
            - string
            - "null"
        trade_name:
          type:
            - string
            - "null"
          description: Nome de pregão — null nas fontes abertas
        sector:
          type:
            - string
            - "null"
        subsector:
          type:
            - string
            - "null"
        listing_segment:
          type:
            - string
            - "null"
        tickers:
          type: array
          items:
            type: string
        primary_ticker:
          type:
            - string
            - "null"
          description: Ticker de exibição da companhia (o mais líquido no pregão recente;
            renomeações já resolvidas). null para companhias sem papel
            negociando. `tickers` pode incluir códigos históricos.
        shares_outstanding:
          type: object
          properties:
            common:
              type:
                - number
                - "null"
            preferred:
              type:
                - number
                - "null"
            total:
              type:
                - number
                - "null"
          required:
            - common
            - preferred
            - total
          description: Capital emitido (fontes cruzadas FRE/CVM e B3)
        free_float_pct:
          type:
            - number
            - "null"
          description: "% de ações em circulação (FRE)"
        status:
          type:
            - string
            - "null"
        has_active_ticker:
          type:
            - boolean
            - "null"
      required:
        - cvm_code
        - cnpj
        - name
        - trade_name
        - sector
        - subsector
        - listing_segment
        - tickers
        - primary_ticker
        - shares_outstanding
        - free_float_pct
        - status
        - has_active_ticker
    Document:
      type: object
      properties:
        cvm_code:
          type: integer
        kind:
          $ref: "#/components/schemas/DocumentKind"
          description: Tipo estável do documento, derivado de `category`. Use-o para
            filtrar (`kind=material_fact`) em vez de casar a string em
            português, que varia com o vocabulário da fonte.
        category:
          type:
            - string
            - "null"
          description: Categoria como publicada no IPE/CVM (texto livre)
        type:
          type:
            - string
            - "null"
        subject:
          type:
            - string
            - "null"
        reference_date:
          type:
            - string
            - "null"
        filed_at:
          type:
            - string
            - "null"
        protocol:
          type:
            - string
            - "null"
        download_url:
          type:
            - string
            - "null"
      required:
        - cvm_code
        - kind
        - category
        - type
        - subject
        - reference_date
        - filed_at
        - protocol
        - download_url
    DocumentKind:
      type: string
      enum:
        - material_fact
        - market_communication
        - financial_report
        - shareholder_notice
        - shareholder_meeting
        - periodic_report
        - management_report
        - other
    CompanyStatement:
      type: object
      properties:
        cvm_code:
          type: integer
        cnpj:
          type:
            - string
            - "null"
        company_name:
          type:
            - string
            - "null"
        ref_date:
          type: string
          description: Fim do período contábil (DT_REFER)
        filed_at:
          type:
            - string
            - "null"
          description: "1ª publicação na CVM (DT_RECEB) — use para corte point-in-time sem
            lookahead. null: data de entrega desconhecida para o período."
        scope:
          type: string
          description: con (consolidado) | ind (controladora)
        quarters_available:
          type:
            - number
            - "null"
        is_latest:
          type:
            - boolean
            - "null"
          description: Período mais recente da companhia neste escopo
        revenue_ttm:
          type:
            - number
            - "null"
        gross_profit_ttm:
          type:
            - number
            - "null"
        ebit_ttm:
          type:
            - number
            - "null"
        ebitda_ttm:
          type:
            - number
            - "null"
        net_income_ttm:
          type:
            - number
            - "null"
        ocf_ttm:
          type:
            - number
            - "null"
          description: Fluxo de caixa operacional TTM
        fcf_ttm:
          type:
            - number
            - "null"
          description: Fluxo de caixa livre TTM (OCF - capex)
        dna_ttm:
          type:
            - number
            - "null"
          description: Depreciação e amortização TTM
        capex_ttm:
          type:
            - number
            - "null"
        total_assets:
          type:
            - number
            - "null"
        current_assets:
          type:
            - number
            - "null"
        cash:
          type:
            - number
            - "null"
        st_investments:
          type:
            - number
            - "null"
        current_liabilities:
          type:
            - number
            - "null"
        noncurrent_liabilities:
          type:
            - number
            - "null"
        st_debt:
          type:
            - number
            - "null"
        lt_debt:
          type:
            - number
            - "null"
        gross_debt:
          type:
            - number
            - "null"
        net_debt:
          type:
            - number
            - "null"
        equity:
          type:
            - number
            - "null"
        working_capital:
          type:
            - number
            - "null"
        net_current_assets:
          type:
            - number
            - "null"
        invested_capital:
          type:
            - number
            - "null"
        nopat_ttm:
          type:
            - number
            - "null"
      required:
        - cvm_code
        - cnpj
        - company_name
        - ref_date
        - filed_at
        - scope
        - quarters_available
        - is_latest
        - revenue_ttm
        - gross_profit_ttm
        - ebit_ttm
        - ebitda_ttm
        - net_income_ttm
        - ocf_ttm
        - fcf_ttm
        - dna_ttm
        - capex_ttm
        - total_assets
        - current_assets
        - cash
        - st_investments
        - current_liabilities
        - noncurrent_liabilities
        - st_debt
        - lt_debt
        - gross_debt
        - net_debt
        - equity
        - working_capital
        - net_current_assets
        - invested_capital
        - nopat_ttm
    LiveQuote:
      type: object
      properties:
        ticker:
          type: string
        price:
          type:
            - number
            - "null"
        change_pct:
          type:
            - number
            - "null"
        ts:
          type: string
        session_date:
          type: string
        prev_close:
          type:
            - number
            - "null"
        source:
          type: string
          enum:
            - intraday
            - eod
      required:
        - ticker
        - price
        - change_pct
        - ts
        - session_date
        - prev_close
        - source
    Stock:
      type: object
      properties:
        ticker:
          type: string
        isin:
          type:
            - string
            - "null"
        type:
          oneOf:
            - $ref: "#/components/schemas/StockType"
            - type: "null"
        active:
          type: boolean
          description: false = código aposentado; ver `successor` e `renamed_at`
        successor:
          type:
            - string
            - "null"
        renamed_at:
          type:
            - string
            - "null"
        succession_type:
          type:
            - string
            - "null"
          enum:
            - rename
            - incorporation
            - null
          description: rename = troca de código (1:1); incorporation = M&A, a posição
            converte pelo ratio
        succession_ratio:
          type:
            - number
            - "null"
        class_shares_outstanding:
          type:
            - number
            - "null"
          description: "Ações emitidas DESTA classe. null quando a fonte não separa: UNIT
            não é espécie própria e o capital preferencial vem agregado (uma
            companhia com PNA e PNB compartilha o mesmo total). O total da
            companhia está em company.shares_outstanding."
        company:
          type:
            - object
            - "null"
          properties:
            cvm_code:
              type:
                - integer
                - "null"
            cnpj:
              type:
                - string
                - "null"
            name:
              type:
                - string
                - "null"
            trade_name:
              type:
                - string
                - "null"
              description: Nome de pregão — null nas fontes abertas
            sector:
              type:
                - string
                - "null"
            subsector:
              type:
                - string
                - "null"
            listing_segment:
              type:
                - string
                - "null"
            primary_ticker:
              type:
                - string
                - "null"
              description: Ticker de exibição da companhia
            tickers:
              type: array
              items:
                $ref: "#/components/schemas/StockPaper"
              description: Papéis (classes) da empresa — cada um analisável em
                /stocks/{ticker}/indicators
            shares_outstanding:
              type: object
              properties:
                common:
                  type:
                    - number
                    - "null"
                preferred:
                  type:
                    - number
                    - "null"
                total:
                  type:
                    - number
                    - "null"
              required:
                - common
                - preferred
                - total
              description: Capital emitido da COMPANHIA inteira (fontes cruzadas FRE/CVM e B3)
            free_float_pct:
              type:
                - number
                - "null"
              description: "% de ações em circulação (FRE)"
            status:
              type:
                - string
                - "null"
            has_active_ticker:
              type:
                - boolean
                - "null"
          required:
            - cvm_code
            - cnpj
            - name
            - trade_name
            - sector
            - subsector
            - listing_segment
            - primary_ticker
            - tickers
            - shares_outstanding
            - free_float_pct
            - status
            - has_active_ticker
        latest_quote:
          type: object
          properties:
            date:
              type: string
            close:
              type:
                - number
                - "null"
            adjust_type:
              type:
                - string
                - "null"
            adjust_quality:
              type:
                - string
                - "null"
          required:
            - date
            - close
            - adjust_type
            - adjust_quality
      required:
        - ticker
        - isin
        - type
        - active
        - successor
        - renamed_at
        - succession_type
        - succession_ratio
        - class_shares_outstanding
        - company
        - latest_quote
    StockType:
      type: string
      enum:
        - ON
        - PN
        - PNA
        - PNB
        - UNIT
    StockPaper:
      type: object
      properties:
        ticker:
          type: string
        type:
          oneOf:
            - $ref: "#/components/schemas/StockType"
            - type: "null"
        active:
          type: boolean
        successor:
          type:
            - string
            - "null"
          description: Ticker vigente quando este código foi sucedido
        renamed_at:
          type:
            - string
            - "null"
          description: Data ex da sucessão (AAAA-MM-DD)
        succession_type:
          type:
            - string
            - "null"
          enum:
            - rename
            - incorporation
            - null
          description: rename = troca de código (1:1); incorporation = M&A, a posição
            converte pelo ratio
        succession_ratio:
          type:
            - number
            - "null"
          description: Ações/cotas do sucessor por unidade do código antigo. 1 =
            renomeação pura
      required:
        - ticker
        - type
        - active
        - successor
        - renamed_at
        - succession_type
        - succession_ratio
    Quote:
      type: object
      properties:
        date:
          type: string
        open:
          type:
            - number
            - "null"
        high:
          type:
            - number
            - "null"
        low:
          type:
            - number
            - "null"
        close:
          type:
            - number
            - "null"
        close_raw:
          type:
            - number
            - "null"
          description: Fechamento bruto (não ajustado), como reportado pela B3
        close_tr:
          type:
            - number
            - "null"
          description: "Fechamento de retorno total: ajustado por eventos + proventos
            reinvestidos (bruto). = close quando não há fonte de proventos
            (units/FII)"
        volume:
          type:
            - number
            - "null"
          description: Volume financeiro (R$)
        quantity:
          type:
            - number
            - "null"
        trades:
          type:
            - number
            - "null"
          description: "Nº de negócios — null: fonte aberta dá quantidade, não contagem"
        adjusted:
          type: boolean
        adjust_type:
          type:
            - string
            - "null"
        adjust_quality:
          type:
            - string
            - "null"
      required:
        - date
        - open
        - high
        - low
        - close
        - close_raw
        - close_tr
        - volume
        - quantity
        - trades
        - adjusted
        - adjust_type
        - adjust_quality
    IntradayPoint:
      type: object
      properties:
        ts:
          type: string
        price:
          type:
            - number
            - "null"
        change_pct:
          type:
            - number
            - "null"
      required:
        - ts
        - price
        - change_pct
    IndicatorValue:
      type: object
      properties:
        name:
          type: string
        label:
          type: string
        value:
          type:
            - number
            - "null"
          description: null quando não calculável — ver reason
        unit:
          type: string
          enum: &a2
            - ratio
            - percent
            - brl
            - brl_per_share
            - count
            - days
        reason:
          type:
            - string
            - "null"
        reference_date:
          type:
            - string
            - "null"
        ttm:
          type: boolean
        lineage:
          $ref: "#/components/schemas/Lineage"
        methodology_url:
          type: string
      required:
        - name
        - label
        - value
        - unit
        - reason
        - reference_date
        - ttm
        - lineage
        - methodology_url
    Lineage:
      type: object
      properties:
        source:
          type: string
        reference:
          type: string
        url:
          type:
            - string
            - "null"
      required:
        - source
        - reference
    Observation:
      type: object
      properties:
        date:
          type: string
        value:
          type:
            - number
            - "null"
      required:
        - date
        - value
    Dividend:
      type: object
      properties:
        type:
          type:
            - string
            - "null"
        ex_date:
          type:
            - string
            - "null"
        payment_date:
          type:
            - string
            - "null"
        value_per_share_gross:
          type:
            - number
            - "null"
        value_per_share_net:
          type:
            - number
            - "null"
      required:
        - type
        - ex_date
        - payment_date
        - value_per_share_gross
        - value_per_share_net
    CorporateEvent:
      type: object
      properties:
        type:
          type:
            - string
            - "null"
        approved_date:
          type:
            - string
            - "null"
        ex_date:
          type:
            - string
            - "null"
        factor:
          type:
            - number
            - "null"
        detail:
          type:
            - string
            - "null"
      required:
        - type
        - approved_date
        - ex_date
        - factor
        - detail
    InsiderMove:
      type: object
      properties:
        reference_month:
          type: string
          description: AAAA-MM
        net_shares:
          type:
            - number
            - "null"
        net_value_brl:
          type:
            - number
            - "null"
        buy_value_brl:
          type:
            - number
            - "null"
        sell_value_brl:
          type:
            - number
            - "null"
        corporate_event_shares:
          type:
            - number
            - "null"
          description: "NÃO SOMAR a net_shares. Saldo de eventos NÃO-mercado do mesmo mês
            — bonificação, doação, herança, grupamento/desdobramento, empréstimo
            de ações e posse/desligamento de cargo — que mudam a posição do
            insider sem nenhuma compra ou venda. Vem separado porque a magnitude
            é maior que a do fluxo: 719.464 Mi de ações em módulo contra 184.689
            Mi do net de mercado (3,9×), presente em 39,1% dos meses do acervo."
        lineage:
          $ref: "#/components/schemas/Lineage"
      required:
        - reference_month
        - net_shares
        - net_value_brl
        - buy_value_brl
        - sell_value_brl
        - corporate_event_shares
        - lineage
    FundHolding:
      type: object
      properties:
        cnpj:
          type: string
        comptc_date:
          type: string
        cd_ativo:
          type:
            - string
            - "null"
        ticker:
          type:
            - string
            - "null"
          description: cd_ativo resolvido ao nosso universo (ação/BDR); null caso contrário
        tp_aplic:
          type:
            - string
            - "null"
        ds_ativo:
          type:
            - string
            - "null"
        cd_isin:
          type:
            - string
            - "null"
        qty:
          type:
            - number
            - "null"
        market_value:
          type:
            - number
            - "null"
          description: posição a mercado (R$)
        fund_name:
          type:
            - string
            - "null"
        fund_manager:
          type:
            - string
            - "null"
        fund_classificacao:
          type:
            - string
            - "null"
      required:
        - cnpj
        - comptc_date
        - cd_ativo
        - ticker
        - tp_aplic
        - ds_ativo
        - cd_isin
        - qty
        - market_value
        - fund_name
        - fund_manager
        - fund_classificacao
    FundOwnershipSummary:
      type: object
      properties:
        comptc_date:
          type: string
          description: competência do CDA (AAAA-MM-DD)
        n_funds:
          type:
            - number
            - "null"
        total_value_brl:
          type:
            - number
            - "null"
          description: posição a mercado somada (R$)
        total_shares:
          type:
            - number
            - "null"
      required:
        - comptc_date
        - n_funds
        - total_value_brl
        - total_shares
    FundTickerMove:
      type: object
      properties:
        ticker:
          type: string
        comptc_date:
          type: string
          description: competência do CDA (AAAA-MM-DD)
        cnpj:
          type: string
          description: CNPJ da classe que se moveu
        prev_comptc_date:
          type:
            - string
            - "null"
          description: competência anterior COMPARÁVEL, não o mês calendário
        fund_name:
          type:
            - string
            - "null"
        fund_manager:
          type:
            - string
            - "null"
        qty_prev:
          type:
            - number
            - "null"
        qty_cur:
          type:
            - number
            - "null"
        qty_delta:
          type:
            - number
            - "null"
          description: Variação em QUANTIDADE, posição econômica (direta + cedida em
            empréstimo − obrigação por recebida). Negativo = posição reduzida ou
            vendida.
        value_prev_brl:
          type:
            - number
            - "null"
        value_cur_brl:
          type:
            - number
            - "null"
        move_kind:
          type:
            - string
            - "null"
          enum:
            - entrou
            - aumentou
            - reduziu
            - saiu
            - abriu_venda
            - zerou_venda
            - manteve
            - indeterminado
            - null
          description: "Classificado pelo SINAL da posição econômica, não pelo zero: a
            posição pode ser negativa (obrigação por ações recebidas > posse),
            então abrir venda é `abriu_venda` e não `entrou`. `indeterminado` =
            um dos meses declarou R$ sem quantidade, e aí o zero não significa
            ausência de posição."
        delta_reason:
          type:
            - string
            - "null"
          enum:
            - posicao_liquida_negativa
            - somente_emprestimo
            - quantidade_nao_divulgada
            - null
          description: Anotação de leitura da linha; null = posição comprada, declarada e
            com quantidade.
        lineage:
          type:
            - string
            - "null"
      required:
        - ticker
        - comptc_date
        - cnpj
        - prev_comptc_date
        - fund_name
        - fund_manager
        - qty_prev
        - qty_cur
        - qty_delta
        - value_prev_brl
        - value_cur_brl
        - move_kind
        - delta_reason
        - lineage
    TickerDemand:
      type: object
      properties:
        ticker:
          type: string
        month_ref:
          type: string
          description: AAAA-MM
        comptc_date:
          type:
            - string
            - "null"
          description: competência do CDA; null quando o mês só tem insider
        asset_kind:
          type:
            - string
            - "null"
          enum:
            - equity
            - bdr
            - null
        funds_holders:
          type:
            - number
            - "null"
          description: fundos com posição econômica POSITIVA no ativo; o vendido está em
            funds_short_holders
        funds_short_holders:
          type:
            - number
            - "null"
          description: fundos com posição econômica negativa (obrigação por ações
            recebidas > posse)
        funds_shares:
          type:
            - number
            - "null"
        funds_value_brl:
          type:
            - number
            - "null"
        funds_implied_price:
          type:
            - number
            - "null"
          description: preço implícito do próprio CDA (R$/qtd), não o fechamento
        funds_shares_delta:
          type:
            - number
            - "null"
          description: Variação de posição em QUANTIDADE, medida só no painel balanceado;
            null quando não é comparável
        funds_value_flow_brl:
          type:
            - number
            - "null"
          description: "O fluxo em R$ (Δqtd × preço implícito). O Δ do valor bruto NÃO
            serve como fluxo: em ITUB4 (04→05/2026) o bruto dá −44,2 Mi enquanto
            o fluxo é +153,2 Mi — sinal trocado."
        funds_value_price_effect_brl:
          type:
            - number
            - "null"
          description: parcela do Δ em R$ que veio só da marcação
        funds_entered:
          type:
            - number
            - "null"
          description: fundos que abriram posição COMPRADA (short entra em
            funds_opened_short)
        funds_exited:
          type:
            - number
            - "null"
          description: fundos que zeraram posição COMPRADA
        funds_increased:
          type:
            - number
            - "null"
        funds_decreased:
          type:
            - number
            - "null"
        funds_opened_short:
          type:
            - number
            - "null"
          description: fundos que abriram posição vendida
        funds_closed_short:
          type:
            - number
            - "null"
          description: fundos que zeraram posição vendida
        funds_qty_undisclosed:
          type:
            - number
            - "null"
          description: fundos cortados do delta por declararem R$ sem quantidade num dos
            meses
        funds_partial_disclosure:
          type:
            - number
            - "null"
          description: fundos cortados do painel por divulgação parcial
        funds_appeared:
          type:
            - number
            - "null"
          description: fundos cortados do delta por terem COMEÇADO a divulgar carteira —
            entrada na base, não compra
        funds_panel_n:
          type:
            - number
            - "null"
          description: fundos presentes nas DUAS competências
        funds_panel_coverage_pct:
          type:
            - number
            - "null"
          description: PERCENTUAL (0–100) do universo coberto pelo painel — 98,16
            significa 98,16%, não 0,98%. Abaixo do limiar de 90 o delta sai null
            com o motivo em funds_delta_reason. Para o TAMANHO do painel use
            funds_panel_n, que é a contagem de fundos.
        funds_delta_reason:
          type:
            - string
            - "null"
          enum:
            - fora_da_janela_cda
            - primeira_competencia
            - competencia_ausente
            - painel_incompleto
            - null
          description: por que o delta não existe; null = delta válido
        issuer_cnpj:
          type:
            - string
            - "null"
        is_issuer_anchor_ticker:
          type:
            - boolean
            - "null"
          description: true no ÚNICO ticker somável do emissor — filtre por ele antes de
            agregar insider
        insider_net_shares:
          type:
            - number
            - "null"
        insider_net_value_brl:
          type:
            - number
            - "null"
        insider_buy_value_brl:
          type:
            - number
            - "null"
        insider_sell_value_brl:
          type:
            - number
            - "null"
        insider_corporate_event_shares:
          type:
            - number
            - "null"
          description: NÃO SOMAR a insider_net_shares — eventos não-mercado (bonificação,
            herança, grupamento)
        insider_reason:
          type:
            - string
            - "null"
          enum:
            - sem_cnpj_no_cadastro
            - ativo_sem_insider
            - sem_vlmo_no_mes
            - null
          description: por que não há insider no mês; null = há dado
        lineage:
          type:
            - string
            - "null"
      required:
        - ticker
        - month_ref
        - comptc_date
        - asset_kind
        - funds_holders
        - funds_short_holders
        - funds_shares
        - funds_value_brl
        - funds_implied_price
        - funds_shares_delta
        - funds_value_flow_brl
        - funds_value_price_effect_brl
        - funds_entered
        - funds_exited
        - funds_increased
        - funds_decreased
        - funds_opened_short
        - funds_closed_short
        - funds_qty_undisclosed
        - funds_partial_disclosure
        - funds_appeared
        - funds_panel_n
        - funds_panel_coverage_pct
        - funds_delta_reason
        - issuer_cnpj
        - is_issuer_anchor_ticker
        - insider_net_shares
        - insider_net_value_brl
        - insider_buy_value_brl
        - insider_sell_value_brl
        - insider_corporate_event_shares
        - insider_reason
        - lineage
    TradeStat:
      type: object
      properties:
        ticker:
          type: string
        trade_date:
          type: string
        segment:
          type:
            - string
            - "null"
        vwap:
          type:
            - number
            - "null"
          description: preço médio de negociação (VWAP oficial B3)
        min_price:
          type:
            - number
            - "null"
        max_price:
          type:
            - number
            - "null"
        last_price:
          type:
            - number
            - "null"
        n_trades:
          type:
            - number
            - "null"
          description: nº de negócios no pregão
        quantity:
          type:
            - number
            - "null"
        financial_volume:
          type:
            - number
            - "null"
          description: volume financeiro (R$)
        lineage:
          type:
            - string
            - "null"
      required:
        - ticker
        - trade_date
        - segment
        - vwap
        - min_price
        - max_price
        - last_price
        - n_trades
        - quantity
        - financial_volume
        - lineage
    ScreenerRow:
      type: object
      properties:
        ticker:
          type: string
        name:
          type:
            - string
            - "null"
        sector:
          type:
            - string
            - "null"
        indicators:
          type: object
          properties:
            market_cap:
              type:
                - number
                - "null"
            pl:
              type:
                - number
                - "null"
            pvp:
              type:
                - number
                - "null"
            dy:
              type:
                - number
                - "null"
            payout:
              type:
                - number
                - "null"
            roe:
              type:
                - number
                - "null"
            roic:
              type:
                - number
                - "null"
            ev_ebitda:
              type:
                - number
                - "null"
            div_liq_ebitda:
              type:
                - number
                - "null"
            margem_liquida:
              type:
                - number
                - "null"
            volume_medio_2m:
              type:
                - number
                - "null"
          required:
            - market_cap
            - pl
            - pvp
            - dy
            - payout
            - roe
            - roic
            - ev_ebitda
            - div_liq_ebitda
            - margem_liquida
            - volume_medio_2m
        quality_flags:
          type: array
          items:
            $ref: "#/components/schemas/ScreenerQualityFlag"
      required:
        - ticker
        - name
        - sector
        - indicators
        - quality_flags
    ScreenerQualityFlag:
      type: object
      properties:
        code:
          type: string
          enum:
            - dy_outlier
            - pl_outlier
            - roe_outlier
            - payout_outlier
        indicator:
          type: string
        value:
          type: number
        reason:
          type: string
      required:
        - code
        - indicator
        - value
        - reason
    FiiListRow:
      type: object
      properties:
        ticker:
          type: string
        name:
          type:
            - string
            - "null"
        segment:
          type:
            - string
            - "null"
        is_paper:
          type: boolean
        reference_date:
          type:
            - string
            - "null"
        preco:
          type:
            - number
            - "null"
        dy_12m:
          type:
            - number
            - "null"
        pvp:
          type:
            - number
            - "null"
        vacancia_fisica:
          type:
            - number
            - "null"
        patrimonio_liquido:
          type:
            - number
            - "null"
      required:
        - ticker
        - name
        - segment
        - is_paper
        - reference_date
        - preco
        - dy_12m
        - pvp
        - vacancia_fisica
        - patrimonio_liquido
    FundScreenerItem:
      type: object
      properties:
        cnpj:
          type: string
        name:
          type:
            - string
            - "null"
        tipo_classe:
          type:
            - string
            - "null"
        classificacao:
          type:
            - string
            - "null"
        classificacao_anbima:
          type:
            - string
            - "null"
        manager:
          type:
            - string
            - "null"
        admin_fee_pct:
          type:
            - number
            - "null"
        situacao:
          type:
            - string
            - "null"
        last_date:
          type:
            - string
            - "null"
        last_quota:
          type:
            - number
            - "null"
        net_worth:
          type:
            - number
            - "null"
        shareholders:
          type:
            - number
            - "null"
        return_1m:
          type:
            - number
            - "null"
        return_12m:
          type:
            - number
            - "null"
          description: null quando o fundo tem menos de 12m de cota
        return_ytd:
          type:
            - number
            - "null"
        net_flow_accumulated:
          type:
            - number
            - "null"
          description: captação líquida (aplicações − resgates) nos últimos 12 meses do
            fundo
      required:
        - cnpj
        - name
        - tipo_classe
        - classificacao
        - classificacao_anbima
        - manager
        - admin_fee_pct
        - situacao
        - last_date
        - last_quota
        - net_worth
        - shareholders
        - return_1m
        - return_12m
        - return_ytd
        - net_flow_accumulated
    MacroGear:
      type: object
      properties:
        gear:
          type: string
        indicators:
          type: array
          items:
            $ref: "#/components/schemas/RegimeSignal"
      required:
        - gear
        - indicators
    RegimeSignal:
      type: object
      properties:
        name:
          type: string
        value:
          type:
            - number
            - "null"
        direction:
          type:
            - string
            - "null"
          enum:
            - up
            - down
            - flat
            - null
        lineage:
          $ref: "#/components/schemas/Lineage"
        unit:
          type:
            - string
            - "null"
        label:
          type:
            - string
            - "null"
        date:
          type:
            - string
            - "null"
      required:
        - name
        - value
        - direction
        - lineage
    RegimeSnapshot:
      type: object
      properties:
        as_of:
          type:
            - string
            - "null"
        quadrant:
          type:
            - string
            - "null"
          enum:
            - growth_up_inflation_up
            - growth_up_inflation_down
            - growth_down_inflation_up
            - growth_down_inflation_down
            - null
        growth:
          type: object
          properties:
            direction:
              type:
                - string
                - "null"
              enum:
                - up
                - down
                - flat
                - null
            signals:
              type: array
              items:
                $ref: "#/components/schemas/RegimeSignal"
          required:
            - direction
            - signals
        inflation:
          type: object
          properties:
            direction:
              type:
                - string
                - "null"
              enum:
                - up
                - down
                - flat
                - null
            signals:
              type: array
              items:
                $ref: "#/components/schemas/RegimeSignal"
          required:
            - direction
            - signals
        cross_asset:
          type: object
          properties:
            dy_vs_selic_spread:
              type:
                - number
                - "null"
            equity_risk_premium:
              type:
                - number
                - "null"
            real_selic:
              type:
                - number
                - "null"
          required:
            - dy_vs_selic_spread
            - equity_risk_premium
            - real_selic
      required:
        - as_of
        - quadrant
        - growth
        - inflation
        - cross_asset
    Expectation:
      type: object
      properties:
        survey_date:
          type: string
        reference:
          type: string
        median:
          type:
            - number
            - "null"
        mean:
          type:
            - number
            - "null"
        std_dev:
          type:
            - number
            - "null"
        respondents:
          type:
            - number
            - "null"
        base:
          type:
            - number
            - "null"
      required:
        - survey_date
        - reference
        - median
        - mean
        - std_dev
        - respondents
        - base
    YieldCurvePoint:
      type: object
      properties:
        maturity:
          type: string
        years:
          type:
            - number
            - "null"
        rate:
          type: number
      required:
        - maturity
        - years
        - rate
    TesouroBondQuote:
      type: object
      properties:
        type:
          type:
            - string
            - "null"
        name:
          type:
            - string
            - "null"
        maturity:
          type:
            - string
            - "null"
        date:
          type:
            - string
            - "null"
        buy_rate:
          type:
            - number
            - "null"
        sell_rate:
          type:
            - number
            - "null"
        buy_price:
          type:
            - number
            - "null"
        sell_price:
          type:
            - number
            - "null"
        is_negotiable:
          type:
            - boolean
            - "null"
        coupon:
          type:
            - string
            - "null"
          enum:
            - unique
            - semiannual
            - monthly
            - null
        min_investment:
          type:
            - number
            - "null"
        live_buy_rate:
          type:
            - number
            - "null"
        live_sell_rate:
          type:
            - number
            - "null"
        live_buy_price:
          type:
            - number
            - "null"
        live_sell_price:
          type:
            - number
            - "null"
        priced_at:
          type:
            - string
            - "null"
      required:
        - type
        - name
        - maturity
        - date
        - buy_rate
        - sell_rate
        - buy_price
        - sell_price
        - is_negotiable
        - coupon
        - min_investment
        - live_buy_rate
        - live_sell_rate
        - live_buy_price
        - live_sell_price
        - priced_at
    IndexMeta:
      type: object
      properties:
        code:
          type: string
        name:
          type: string
        rebalancing:
          type: string
      required:
        - code
        - name
        - rebalancing
    IndexComponent:
      type: object
      properties:
        ticker:
          type: string
        weight:
          type: number
        theoretical_quantity:
          type: number
      required:
        - ticker
        - weight
        - theoretical_quantity
    SeriesMeta:
      type: object
      properties:
        source:
          type: string
        series_id:
          type: string
        name:
          type:
            - string
            - "null"
        label:
          type:
            - string
            - "null"
        unit:
          type:
            - string
            - "null"
        frequency:
          type:
            - string
            - "null"
        first_date:
          type:
            - string
            - "null"
        last_date:
          type:
            - string
            - "null"
      required:
        - source
        - series_id
        - name
        - label
        - unit
        - frequency
        - first_date
        - last_date
    Fii:
      type: object
      properties:
        ticker:
          type: string
        cnpj:
          type:
            - string
            - "null"
        name:
          type:
            - string
            - "null"
        segment:
          type:
            - string
            - "null"
        administrator:
          type:
            - string
            - "null"
        manager:
          type:
            - string
            - "null"
        is_paper:
          type: boolean
      required:
        - ticker
        - cnpj
        - name
        - segment
        - administrator
        - manager
        - is_paper
    FiiDistribution:
      type: object
      properties:
        ex_date:
          type:
            - string
            - "null"
        payment_date:
          type:
            - string
            - "null"
        value_per_share:
          type:
            - number
            - "null"
          description: rendimento por cota NOMINAL pago na época (base de cotas da data-com)
        value_per_share_adj:
          type:
            - number
            - "null"
          description: rendimento por cota ajustado por desdobramentos/grupamentos para a
            base de cotas ATUAL — comparável/somável através de splits (o
            value_per_share permanece nominal da época)
        tax_free:
          type: boolean
      required:
        - ex_date
        - payment_date
        - value_per_share
        - value_per_share_adj
        - tax_free
    FiiMonthlyReport:
      type: object
      properties:
        reference_month:
          type:
            - string
            - "null"
        net_asset_value:
          type:
            - number
            - "null"
        value_per_share:
          type:
            - number
            - "null"
        monthly_dividend_yield_pct:
          type:
            - number
            - "null"
        shareholders:
          type:
            - number
            - "null"
        shares_issued:
          type:
            - number
            - "null"
      required:
        - reference_month
        - net_asset_value
        - value_per_share
        - monthly_dividend_yield_pct
        - shareholders
        - shares_issued
    BdrProfile:
      type: object
      properties:
        ticker:
          type: string
        name:
          type:
            - string
            - "null"
        isin:
          type:
            - string
            - "null"
        kind:
          type:
            - string
            - "null"
          description: patrocinado | nao_patrocinado
        spec:
          type:
            - string
            - "null"
        first_traded:
          type:
            - string
            - "null"
        last_traded:
          type:
            - string
            - "null"
        sessions:
          type:
            - number
            - "null"
      required:
        - ticker
        - name
        - isin
        - kind
        - spec
        - first_traded
        - last_traded
        - sessions
    BdrQuote:
      type: object
      properties:
        date:
          type: string
        open:
          type:
            - number
            - "null"
        high:
          type:
            - number
            - "null"
        low:
          type:
            - number
            - "null"
        close:
          type:
            - number
            - "null"
        close_raw:
          type:
            - number
            - "null"
        volume:
          type:
            - number
            - "null"
        adjust_quality:
          type:
            - string
            - "null"
      required:
        - date
        - open
        - high
        - low
        - close
        - close_raw
        - volume
        - adjust_quality
    EtfProfile:
      type: object
      properties:
        ticker:
          type: string
        name:
          type:
            - string
            - "null"
        cnpj:
          type:
            - string
            - "null"
        manager:
          type:
            - string
            - "null"
          description: gestor (positionManager)
        administrator:
          type:
            - string
            - "null"
        segment:
          type:
            - string
            - "null"
        classification:
          type:
            - string
            - "null"
        trading_code_others:
          type:
            - string
            - "null"
          description: lote fracionário / código alternativo
        quota_count_authorized:
          type:
            - number
            - "null"
          description: teto autorizado de cotas (cadastro B3)
        first_traded:
          type:
            - string
            - "null"
        last_traded:
          type:
            - string
            - "null"
        sessions:
          type:
            - number
            - "null"
      required:
        - ticker
        - name
        - cnpj
        - manager
        - administrator
        - segment
        - classification
        - trading_code_others
        - quota_count_authorized
        - first_traded
        - last_traded
        - sessions
    FundProfile:
      type: object
      properties:
        cnpj:
          type: string
        codigo_cvm:
          type:
            - number
            - "null"
        name:
          type:
            - string
            - "null"
        tipo_classe:
          type:
            - string
            - "null"
        situacao:
          type:
            - string
            - "null"
        classificacao:
          type:
            - string
            - "null"
        classificacao_anbima:
          type:
            - string
            - "null"
        entidade_investimento:
          type:
            - string
            - "null"
        net_worth:
          type:
            - number
            - "null"
          description: patrimônio líquido (R$)
        cnpj_fundo:
          type:
            - string
            - "null"
        tipo_fundo:
          type:
            - string
            - "null"
        administrator:
          type:
            - string
            - "null"
        manager:
          type:
            - string
            - "null"
          description: gestor
        admin_fee_pct:
          type:
            - number
            - "null"
          description: taxa de administração (herdada do cadastro legado)
        performance_fee_pct:
          type:
            - number
            - "null"
        data_registro:
          type:
            - string
            - "null"
      required:
        - cnpj
        - codigo_cvm
        - name
        - tipo_classe
        - situacao
        - classificacao
        - classificacao_anbima
        - entidade_investimento
        - net_worth
        - cnpj_fundo
        - tipo_fundo
        - administrator
        - manager
        - admin_fee_pct
        - performance_fee_pct
        - data_registro
    FundQuote:
      type: object
      properties:
        comptc_date:
          type: string
        quota_value:
          type:
            - number
            - "null"
        net_worth:
          type:
            - number
            - "null"
        total_value:
          type:
            - number
            - "null"
        inflow:
          type:
            - number
            - "null"
        outflow:
          type:
            - number
            - "null"
        net_flow:
          type:
            - number
            - "null"
        shareholders:
          type:
            - number
            - "null"
      required:
        - comptc_date
        - quota_value
        - net_worth
        - total_value
        - inflow
        - outflow
        - net_flow
        - shareholders
    FundOfFundsEdge:
      type: object
      properties:
        comptc_date:
          type: string
        investor_cnpj:
          type: string
        invested_cnpj:
          type: string
        invested_name:
          type:
            - string
            - "null"
        market_value:
          type:
            - number
            - "null"
          description: posição do investidor nas cotas do investido (R$)
        invested_net_worth:
          type:
            - number
            - "null"
          description: PL do investido NA COMPETÊNCIA (nunca o PL de hoje); null em 27,3%
            das arestas
        invested_weight_pct:
          type:
            - number
            - "null"
          description: PERCENTUAL (0–100) do PL do INVESTIDO que o investidor representa
        investor_share_pct:
          type:
            - number
            - "null"
          description: PERCENTUAL (0–100) do PL do INVESTIDOR aplicado nesta posição
        weight_over_100:
          type:
            - boolean
            - "null"
          description: posição declarada entre 1,0× e 1,5× o PL do investido —
            descasamento de base, não erro
        weight_reason:
          type:
            - string
            - "null"
          enum:
            - sem_pl_no_informe
            - peso_acima_do_cap
            - null
          description: por que o peso não foi calculado; null = peso válido
        nav_date:
          type:
            - string
            - "null"
          description: data do PL usado no denominador
        invested_manager:
          type:
            - string
            - "null"
        invested_classificacao:
          type:
            - string
            - "null"
        lineage:
          type:
            - string
            - "null"
      required:
        - comptc_date
        - investor_cnpj
        - invested_cnpj
        - invested_name
        - market_value
        - invested_net_worth
        - invested_weight_pct
        - investor_share_pct
        - weight_over_100
        - weight_reason
        - nav_date
        - invested_manager
        - invested_classificacao
        - lineage
    FundLookThrough:
      type: object
      properties:
        investor_cnpj:
          type: string
        comptc_date:
          type: string
        ticker:
          type: string
        exposure_direct_brl:
          type:
            - number
            - "null"
          description: posição do próprio fundo no ativo (R$)
        exposure_indirect_brl:
          type:
            - number
            - "null"
          description: parcela que chega via cotas de outros fundos (R$)
        exposure_total_brl:
          type:
            - number
            - "null"
        shares_direct:
          type:
            - number
            - "null"
        shares_indirect:
          type:
            - number
            - "null"
        indirect_via_n_funds:
          type:
            - number
            - "null"
          description: quantos fundos investidos carregam o ativo
        indirect_coverage_pct:
          type:
            - number
            - "null"
          description: PERCENTUAL (0–100) do valor em cotas cujo BLC_4 foi possível abrir;
            null = não sabemos abrir nada. Exposição baixa com cobertura baixa
            NÃO quer dizer exposição ausente.
        cotas_value_brl:
          type:
            - number
            - "null"
          description: total em cotas do investidor na competência
        look_through_depth:
          type:
            - number
            - "null"
          description: saltos percorridos; hoje sempre 1
        lineage:
          type:
            - string
            - "null"
      required:
        - investor_cnpj
        - comptc_date
        - ticker
        - exposure_direct_brl
        - exposure_indirect_brl
        - exposure_total_brl
        - shares_direct
        - shares_indirect
        - indirect_via_n_funds
        - indirect_coverage_pct
        - cotas_value_brl
        - look_through_depth
        - lineage
    InvestorFlow:
      type: object
      properties:
        as_of_date:
          type: string
        investor_type:
          type: string
          description: Estrangeiro | Institucionais | ...
        buy_brl_thousand:
          type:
            - number
            - "null"
        sell_brl_thousand:
          type:
            - number
            - "null"
        buy_share_pct:
          type:
            - number
            - "null"
        sell_share_pct:
          type:
            - number
            - "null"
        net_mtd_brl_thousand:
          type:
            - number
            - "null"
        net_daily_brl_thousand:
          type:
            - number
            - "null"
        lineage:
          type:
            - string
            - "null"
      required:
        - as_of_date
        - investor_type
        - buy_brl_thousand
        - sell_brl_thousand
        - buy_share_pct
        - sell_share_pct
        - net_mtd_brl_thousand
        - net_daily_brl_thousand
        - lineage
    InvestorFlowMonthly:
      type: object
      properties:
        month_ref:
          type: string
        investor_type:
          type: string
        segment:
          type: string
        brl_reais:
          type:
            - number
            - "null"
        share_pct:
          type:
            - number
            - "null"
        lineage:
          type:
            - string
            - "null"
      required:
        - month_ref
        - investor_type
        - segment
        - brl_reais
        - share_pct
        - lineage
    PublicMarketEvent:
      type: object
      properties:
        event_id:
          type: number
        day:
          type: string
          description: Dia do evento (YYYY-MM-DD, BRT).
        layer:
          type: string
          description: estrutural | setorial | corporativa
        category:
          type: string
          description: macro | politica | internacional | commodities | corporate | fii |
            cripto | mercado | outros
        title:
          type: string
        summary:
          type:
            - string
            - "null"
        entities:
          type: array
          items:
            type: string
          description: Atores/empresas citados (ticker NÃO é obrigatório).
        tickers:
          type: array
          items:
            type: string
        transmission_channels:
          type: array
          items:
            type: string
          description: "Canais de transmissão a preço: dolar | ibov | brent | curva |
            selic."
        score:
          type:
            - number
            - "null"
        detectors:
          type: array
          items:
            type: string
          description: "Quais detectores confirmaram: official | press | market. 2+ =
            evento forte."
        thread_slug:
          type:
            - string
            - "null"
          description: Thread (evento-pai) quando o evento faz parte de uma história em
            curso.
        source_refs:
          type: array
          items:
            $ref: "#/components/schemas/MarketEventSourceRef"
      required:
        - event_id
        - day
        - layer
        - category
        - title
        - summary
        - entities
        - tickers
        - transmission_channels
        - score
        - detectors
        - thread_slug
        - source_refs
    MarketEventSourceRef:
      type: object
      properties:
        kind:
          type: string
          description: "Origem da evidência: dou | rss | copom | fedreg | camara | gdelt |
            price"
        id:
          anyOf:
            - type: string
            - type: number
        url:
          type:
            - string
            - "null"
        title:
          type: string
      required:
        - kind
        - id
        - url
        - title
    PublicMarketAnomaly:
      type: object
      properties:
        day:
          type: string
        series_code:
          type: string
          description: IBOV | IFIX | USDBRL | BRENT | VIX | SP500 | NASDAQ
        return_pct:
          type: number
          description: Retorno do dia em % (a partir do log-retorno).
        zscore:
          type: number
          description: Desvios-padrão do retorno BRUTO vs σ rolling de 252 pregões. Quando
            local_zscore está presente, é ELE que define o dia como anômalo —
            este campo fica para auditoria.
        direction:
          type: string
          description: alta | queda
        factor_model:
          type:
            - string
            - "null"
          description: "Séries de controle descontadas (ex.: 'NASDAQ+USDBRL'). null =
            série sem modelo de fatores (as próprias séries globais) ou período
            sem os fatores disponíveis."
        local_return_pct:
          type:
            - number
            - "null"
          description: "Quanto a série andou ALÉM do que os fatores explicam, em %. É o
            descolamento próprio do dia: um IBOV que cai 5% num dia de queda
            global de 5% tem local_return_pct ≈ 0."
        local_zscore:
          type:
            - number
            - "null"
          description: "Desvios-padrão do descolamento local. É o critério de anomalia
            quando presente: separa 'o mundo caiu' de 'o Brasil caiu'."
        explained_by:
          oneOf:
            - $ref: "#/components/schemas/PublicMarketEvent"
            - type: "null"
          description: Evento que explica o dia anômalo, quando casado.
      required:
        - day
        - series_code
        - return_pct
        - zscore
        - direction
        - factor_model
        - local_return_pct
        - local_zscore
        - explained_by
    PublicEventThread:
      type: object
      properties:
        slug:
          type: string
        kind:
          type: string
          description: mp | copom | tarifa | eleicao | conflito | fiscal | outro
        title:
          type: string
        status:
          type: string
          description: em_curso | resolvido
        started_at:
          type: string
        resolved_at:
          type:
            - string
            - "null"
        last_event_day:
          type:
            - string
            - "null"
        entities:
          type: array
          items:
            type: string
        events:
          type: array
          items:
            $ref: "#/components/schemas/PublicMarketEvent"
          description: Timeline em ordem cronológica.
      required:
        - slug
        - kind
        - title
        - status
        - started_at
        - resolved_at
        - last_event_day
        - entities
        - events
    PublicSimilarEvent:
      allOf:
        - $ref: "#/components/schemas/PublicMarketEvent"
      properties:
        similarity:
          type: number
          description: Similaridade semântica (cosseno, 0-1) com o evento de referência.
      required:
        - similarity
    PublicOffering:
      type: object
      properties:
        offering_id:
          type: string
        regime:
          type:
            - string
            - "null"
          description: ICVM_400_476 | RCVM_160
        numero_processo:
          type:
            - string
            - "null"
        numero_requerimento:
          type:
            - string
            - "null"
        cnpj_emissor:
          type:
            - string
            - "null"
        nome_emissor:
          type:
            - string
            - "null"
        nome_lider:
          type:
            - string
            - "null"
        tipo_ativo:
          type:
            - string
            - "null"
        tipo_oferta:
          type:
            - string
            - "null"
        rito:
          type:
            - string
            - "null"
        status:
          type:
            - string
            - "null"
        data_processo:
          type:
            - string
            - "null"
        data_registro:
          type:
            - string
            - "null"
        data_encerramento:
          type:
            - string
            - "null"
        valor_total:
          type:
            - number
            - "null"
        incentivo_fiscal:
          type:
            - boolean
            - "null"
      required:
        - offering_id
        - regime
        - numero_processo
        - numero_requerimento
        - cnpj_emissor
        - nome_emissor
        - nome_lider
        - tipo_ativo
        - tipo_oferta
        - rito
        - status
        - data_processo
        - data_registro
        - data_encerramento
        - valor_total
        - incentivo_fiscal
    OptionContract:
      type: object
      properties:
        option_ticker:
          type: string
        underlying_ticker:
          type:
            - string
            - "null"
        underlying_root:
          type:
            - string
            - "null"
        option_type:
          type:
            - string
            - "null"
          description: call | put
        strike:
          type:
            - number
            - "null"
        expiry:
          type:
            - string
            - "null"
        date:
          type:
            - string
            - "null"
        last:
          type:
            - number
            - "null"
        volume_brl:
          type:
            - number
            - "null"
        trades:
          type:
            - number
            - "null"
        underlying_spot:
          type:
            - number
            - "null"
        days_to_expiry:
          type:
            - number
            - "null"
        moneyness:
          type:
            - number
            - "null"
          description: spot / strike
        intrinsic:
          type:
            - number
            - "null"
        time_value:
          type:
            - number
            - "null"
        iv:
          type:
            - number
            - "null"
          description: vol implícita anualizada (Black-Scholes europeu)
        delta:
          type:
            - number
            - "null"
        gamma:
          type:
            - number
            - "null"
        vega:
          type:
            - number
            - "null"
          description: por 1% de vol
        theta:
          type:
            - number
            - "null"
          description: por dia corrido
        iv_amer:
          type:
            - number
            - "null"
          description: IV americana (binomial CRR) — corrige exercício antecipado;
            relevante em puts
        delta_amer:
          type:
            - number
            - "null"
        gamma_amer:
          type:
            - number
            - "null"
        vega_amer:
          type:
            - number
            - "null"
          description: por 1% de vol
        theta_amer:
          type:
            - number
            - "null"
          description: por dia corrido
        early_ex_premium:
          type:
            - number
            - "null"
          description: "prêmio de exercício antecipado: preço americano − europeu (mesmo σ)"
      required:
        - option_ticker
        - underlying_ticker
        - underlying_root
        - option_type
        - strike
        - expiry
        - date
        - last
        - volume_brl
        - trades
        - underlying_spot
        - days_to_expiry
        - moneyness
        - intrinsic
        - time_value
        - iv
        - delta
        - gamma
        - vega
        - theta
        - iv_amer
        - delta_amer
        - gamma_amer
        - vega_amer
        - theta_amer
        - early_ex_premium
    OptionExpiry:
      type: object
      properties:
        expiry:
          type: string
        count:
          type: number
          description: Séries abertas neste vencimento
      required:
        - expiry
        - count
    OptionQuote:
      type: object
      properties:
        date:
          type: string
        option_ticker:
          type: string
        option_type:
          type:
            - string
            - "null"
        strike:
          type:
            - number
            - "null"
        expiry:
          type:
            - string
            - "null"
        open:
          type:
            - number
            - "null"
        high:
          type:
            - number
            - "null"
        low:
          type:
            - number
            - "null"
        last:
          type:
            - number
            - "null"
        volume_brl:
          type:
            - number
            - "null"
        trades:
          type:
            - number
            - "null"
        underlying_spot:
          type:
            - number
            - "null"
        moneyness:
          type:
            - number
            - "null"
        intrinsic:
          type:
            - number
            - "null"
        time_value:
          type:
            - number
            - "null"
        iv:
          type:
            - number
            - "null"
        delta:
          type:
            - number
            - "null"
        gamma:
          type:
            - number
            - "null"
        vega:
          type:
            - number
            - "null"
        theta:
          type:
            - number
            - "null"
      required:
        - date
        - option_ticker
        - option_type
        - strike
        - expiry
        - open
        - high
        - low
        - last
        - volume_brl
        - trades
        - underlying_spot
        - moneyness
        - intrinsic
        - time_value
        - iv
        - delta
        - gamma
        - vega
        - theta
    CryptoAsset:
      type: object
      properties:
        symbol:
          type: string
          description: "Ativo-base canônico, ex.: BTC"
        name:
          type:
            - string
            - "null"
        rank:
          type:
            - number
            - "null"
          description: Ordem curada por relevância/market cap
        first_date:
          type:
            - string
            - "null"
        last_date:
          type:
            - string
            - "null"
        close_brl:
          type:
            - number
            - "null"
        close_usd:
          type:
            - number
            - "null"
        change_pct_1d:
          type:
            - number
            - "null"
        change_pct_7d:
          type:
            - number
            - "null"
        volume_brl_1d:
          type:
            - number
            - "null"
          description: Volume negociado em BRL na última vela diária
      required:
        - symbol
        - name
        - rank
        - first_date
        - last_date
        - close_brl
        - close_usd
        - change_pct_1d
        - change_pct_7d
        - volume_brl_1d
    CryptoLiveQuote:
      type: object
      properties:
        symbol:
          type: string
        price_brl:
          type: number
        price_usd:
          type:
            - number
            - "null"
        change_pct_24h:
          type:
            - number
            - "null"
          description: Variação % em 24h rolantes
        volume_usd_24h:
          type:
            - number
            - "null"
        ts:
          type: string
          description: Timestamp do snapshot (UTC)
      required:
        - symbol
        - price_brl
        - price_usd
        - change_pct_24h
        - volume_usd_24h
        - ts
    CryptoCandle:
      type: object
      properties:
        open_time:
          type: string
        close_time:
          type: string
        open:
          type:
            - number
            - "null"
        high:
          type:
            - number
            - "null"
        low:
          type:
            - number
            - "null"
        close:
          type:
            - number
            - "null"
        volume:
          type:
            - number
            - "null"
          description: Volume na moeda base
        quote_volume:
          type:
            - number
            - "null"
          description: Volume em BRL
        trades:
          type:
            - number
            - "null"
        close_usd:
          type:
            - number
            - "null"
          description: Fechamento em USD
      required:
        - open_time
        - close_time
        - open
        - high
        - low
        - close
        - volume
        - quote_volume
        - trades
        - close_usd
    UsAsset:
      type: object
      properties:
        ticker:
          type: string
        name:
          type:
            - string
            - "null"
        type:
          type: string
          enum:
            - stock
            - etf
        in_sp500:
          type:
            - boolean
            - "null"
        in_ndx100:
          type:
            - boolean
            - "null"
        bdr_ticker:
          type:
            - string
            - "null"
          description: BDR correspondente na B3, quando mapeado
        first_date:
          type:
            - string
            - "null"
        last_date:
          type:
            - string
            - "null"
        close_usd:
          type:
            - number
            - "null"
        change_pct_1d:
          type:
            - number
            - "null"
        change_pct_1m:
          type:
            - number
            - "null"
        change_pct_1y:
          type:
            - number
            - "null"
        high_52w:
          type:
            - number
            - "null"
        low_52w:
          type:
            - number
            - "null"
        volume_1d:
          type:
            - number
            - "null"
      required:
        - ticker
        - name
        - type
        - in_sp500
        - in_ndx100
        - bdr_ticker
        - first_date
        - last_date
        - close_usd
        - change_pct_1d
        - change_pct_1m
        - change_pct_1y
        - high_52w
        - low_52w
        - volume_1d
    UsAssetDetail:
      allOf:
        - $ref: "#/components/schemas/UsAsset"
      properties:
        fundamentals:
          type: array
          items:
            $ref: "#/components/schemas/UsFundamental"
      required:
        - fundamentals
    UsFundamental:
      type: object
      properties:
        metric:
          type: string
          enum:
            - revenue
            - net_income
            - eps_diluted
        unit:
          type:
            - string
            - "null"
        fy:
          type:
            - number
            - "null"
          description: Ano fiscal
        fp:
          type:
            - string
            - "null"
          description: Período fiscal (FY, Q1..Q4)
        period_start:
          type:
            - string
            - "null"
        period_end:
          type:
            - string
            - "null"
        value:
          type:
            - number
            - "null"
        form:
          type:
            - string
            - "null"
          description: Formulário de origem (10-K, 10-Q…)
        filed:
          type:
            - string
            - "null"
      required:
        - metric
        - unit
        - fy
        - fp
        - period_start
        - period_end
        - value
        - form
        - filed
    UsQuote:
      type: object
      properties:
        date:
          type: string
        open:
          type:
            - number
            - "null"
        high:
          type:
            - number
            - "null"
        low:
          type:
            - number
            - "null"
        close:
          type:
            - number
            - "null"
        volume:
          type:
            - number
            - "null"
      required:
        - date
        - open
        - high
        - low
        - close
        - volume
    UsFiling:
      type: object
      properties:
        accession:
          type: string
        form:
          type: string
          description: 10-K, 10-Q, 8-K, 20-F, 6-K, DEF 14A
        filed_at:
          type: string
        report_date:
          type:
            - string
            - "null"
        description:
          type:
            - string
            - "null"
        url:
          type: string
          description: Documento principal no site da SEC (EDGAR)
      required:
        - accession
        - form
        - filed_at
        - report_date
        - description
        - url
    SearchResult:
      type: object
      properties:
        kind:
          type: string
          enum:
            - stock
            - fii
            - index
            - bond
            - macro
            - crypto
            - us
            - etf
            - bdr
        ticker:
          type: string
        title:
          type: string
        subtitle:
          type:
            - string
            - "null"
        href:
          type: string
        score:
          type: number
        cvm_code:
          type:
            - integer
            - "null"
          description: Código CVM da companhia (só ações) — abre documentos e demonstrações
      required:
        - kind
        - ticker
        - title
        - subtitle
        - href
        - score
        - cvm_code
    IngestRunSummary:
      type: object
      properties:
        run_id:
          type: string
        trigger:
          type: string
        started_at:
          type: string
        finished_at:
          type: string
        duration_s:
          type: number
        exit:
          type: number
        ok:
          type: boolean
        error_count:
          type: number
      required:
        - run_id
        - trigger
        - started_at
        - finished_at
        - duration_s
        - exit
        - ok
        - error_count
    IngestRunDetail:
      allOf:
        - $ref: "#/components/schemas/IngestRunSummary"
      properties:
        errors:
          type: array
          items:
            type: string
      required:
        - errors
    IngestSourceHealth:
      type: object
      properties:
        source:
          type: string
        status:
          type: string
          enum:
            - ok
            - incomplete
            - stale
            - error
            - no_data
        last_fetch:
          type:
            - string
            - "null"
        age_days:
          type:
            - number
            - "null"
        datasets:
          type: number
        missing:
          type: number
        missing_ratio:
          type:
            - number
            - "null"
        failed_validation:
          type: number
        ok:
          type: number
        skip:
          type: number
        miss:
          type: number
        err:
          type: number
        rows:
          type: number
        duration_s:
          type:
            - number
            - "null"
      required:
        - source
        - status
        - last_fetch
        - age_days
        - datasets
        - missing
        - missing_ratio
        - failed_validation
        - ok
        - skip
        - miss
        - err
        - rows
        - duration_s
    IngestPollerHealth:
      type: object
      properties:
        source:
          type: string
        status:
          type: string
          enum:
            - ok
            - sleeping
            - stale
            - error
        last_cycle_at:
          type: string
        last_write_at:
          type:
            - string
            - "null"
        age_seconds:
          type: number
        cycle_seconds:
          type: number
        sleeping_until:
          type:
            - string
            - "null"
        in_window:
          type: boolean
        universe_size:
          type:
            - number
            - "null"
        rows_written:
          type: number
        consecutive_errors:
          type: number
        last_error:
          type:
            - string
            - "null"
        last_error_at:
          type:
            - string
            - "null"
      required:
        - source
        - status
        - last_cycle_at
        - last_write_at
        - age_seconds
        - cycle_seconds
        - sleeping_until
        - in_window
        - universe_size
        - rows_written
        - consecutive_errors
        - last_error
        - last_error_at
    ThesisSummary:
      type: object
      properties:
        id:
          type: string
        slug:
          type: string
          description: Slug estável por usuário — compõe a URL pública
            /teses/{handle}/{slug}.
        title:
          type: string
        subtitle:
          type: string
          nullable: true
        ticker:
          type: string
          nullable: true
        kind:
          type: string
          description: equity | fii | macro | setor | carta | carteira
        visibility:
          type: string
          enum:
            - private
            - unlisted
            - public
        exportStatus:
          type: string
          description: idle | queued | processing | ready | failed
        pdfUrl:
          type: string
          nullable: true
        previewUrl:
          type: string
          nullable: true
        publishedAt:
          type: string
          nullable: true
        createdAt:
          type: string
        updatedAt:
          type: string
        archivedAt:
          type: string
          nullable: true
          description: Arquivada (some do público) quando preenchido.
        position:
          type: number
          nullable: true
          description: Ordem manual na vitrine (null = por data).
        tags:
          type: array
          items:
            type: string
          description: Rótulos privados de organização (só o dono vê).
    ThesisDetail:
      allOf:
        - $ref: "#/components/schemas/ThesisSummary"
        - type: object
          properties:
            doc:
              $ref: "#/components/schemas/ReportDocInput"
            exportError:
              type: string
              nullable: true
    ThesisExportStatus:
      type: object
      properties:
        status:
          type: string
          enum:
            - ready
            - queued
        pdfUrl:
          type: string
        previewUrl:
          type: string
    ReportDocInput:
      type: object
      properties:
        id:
          type: string
          pattern: ^[a-z0-9][a-z0-9-]*$
        kind:
          type: string
          enum:
            - equity
            - fii
            - macro
            - setor
            - carta
            - carteira
        title:
          type: string
          maxLength: 120
        subtitle:
          type: string
          maxLength: 160
        date:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
        authors:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                maxLength: 60
              role:
                type: string
                maxLength: 60
              credential:
                type: string
                maxLength: 30
            required:
              - name
            additionalProperties: false
          minItems: 1
          maxItems: 4
        ticker:
          type: string
          maxLength: 12
        tags:
          type: array
          items:
            type: string
            maxLength: 24
          maxItems: 8
        sections:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                pattern: ^[a-z0-9][a-z0-9-]*$
                description: âncora p/ TOC/deep-link
              title:
                type: string
                maxLength: 80
              numbered:
                type: boolean
              blocks:
                type: array
                items:
                  oneOf:
                    - oneOf:
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                                - rating
                            rating:
                              type: string
                              enum:
                                - compra
                                - neutro
                                - venda
                                - em revisão
                            priceTarget:
                              type: object
                              properties:
                                value:
                                  type: string
                                  maxLength: 20
                                horizon:
                                  type: string
                                  maxLength: 20
                              required:
                                - value
                                - horizon
                              additionalProperties: false
                            lastPrice:
                              type: string
                              maxLength: 20
                            upside:
                              type: number
                              description: variação % crua (a viz põe ▲/▼ e cor)
                            prev:
                              type: object
                              properties:
                                rating:
                                  type: string
                                  maxLength: 20
                                priceTarget:
                                  type: string
                                  maxLength: 20
                              additionalProperties: false
                              description: 'revisão: "de Neutro", "de R$ 41,00"'
                          required:
                            - kind
                            - rating
                          additionalProperties: false
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                                - summary
                            title:
                              type: string
                              maxLength: 60
                            points:
                              type: array
                              items:
                                type: object
                                properties:
                                  text:
                                    type: string
                                    maxLength: 280
                                    description: "md inline: **negrito**, *itálico*, `código`, [link](url)"
                                  tone:
                                    type: string
                                    enum:
                                      - pos
                                      - neg
                                      - neutral
                                required:
                                  - text
                                additionalProperties: false
                              minItems: 2
                              maxItems: 8
                          required:
                            - kind
                            - points
                          additionalProperties: false
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                                - keyStats
                            title:
                              type: string
                              maxLength: 60
                            stats:
                              type: array
                              items:
                                type: object
                                properties:
                                  label:
                                    type: string
                                    maxLength: 40
                                  value:
                                    type: string
                                    maxLength: 20
                                  change:
                                    type: number
                                    description: variação % crua (a viz põe ▲/▼ e cor)
                                  hint:
                                    type: string
                                    maxLength: 60
                                required:
                                  - label
                                  - value
                                additionalProperties: false
                              minItems: 2
                              maxItems: 10
                            cols:
                              anyOf:
                                - type: number
                                  enum:
                                    - 3
                                - type: number
                                  enum:
                                    - 4
                                - type: number
                                  enum:
                                    - 5
                          required:
                            - kind
                            - stats
                          additionalProperties: false
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                                - prose
                            md:
                              type: string
                              minLength: 1
                              description: markdown GFM completo (sem h1 — título é da seção)
                          required:
                            - kind
                            - md
                          additionalProperties: false
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                                - chart
                            spec:
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - line
                                    - area
                                    - bars
                                    - stackedBars
                                    - netBars
                                    - sparkline
                                    - donut
                                title:
                                  type: string
                                  maxLength: 90
                                source:
                                  type: string
                                  maxLength: 90
                                  description: 'vira "Fonte: …" sob o gráfico'
                                height:
                                  type: integer
                                  minimum: 60
                                  maximum: 480
                                series:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        maxLength: 40
                                      data:
                                        type: array
                                        items:
                                          type: number
                                        minItems: 1
                                      color:
                                        type: string
                                        enum:
                                          - accent
                                          - alta
                                          - baixa
                                          - ink
                                          - warn
                                          - class-acao
                                          - class-fii
                                          - class-bdr
                                          - class-tesouro
                                          - class-rf
                                          - class-cripto
                                          - class-outros
                                    required:
                                      - name
                                      - data
                                    additionalProperties: false
                                  minItems: 1
                                  maxItems: 8
                                  description: "donut: 1 série por fatia, data = [valor]; demais: séries com ≥2
                                    pontos"
                                labels:
                                  type: array
                                  items:
                                    type: string
                                  description: rótulos do eixo x, pareados com series[].data
                                yFormat:
                                  type: string
                                  enum:
                                    - num
                                    - pct
                                    - brl
                                refLine:
                                  type: object
                                  properties:
                                    value:
                                      type: number
                                    label:
                                      type: string
                                      maxLength: 40
                                  required:
                                    - value
                                  additionalProperties: false
                                up:
                                  type: boolean
                              required:
                                - type
                                - series
                              additionalProperties: false
                          required:
                            - kind
                            - spec
                          additionalProperties: false
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                                - table
                            title:
                              type: string
                              maxLength: 80
                            note:
                              type: string
                              maxLength: 200
                              description: "md inline: **negrito**, *itálico*, `código`, [link](url)"
                            columns:
                              type: array
                              items:
                                type: object
                                properties:
                                  label:
                                    type: string
                                    maxLength: 30
                                  align:
                                    type: string
                                    enum:
                                      - left
                                      - right
                                      - center
                                  kind:
                                    type: string
                                    enum:
                                      - text
                                      - num
                                      - delta
                                      - deltaPp
                                required:
                                  - label
                                additionalProperties: false
                              minItems: 2
                              maxItems: 8
                            rows:
                              type: array
                              items:
                                type: array
                                items:
                                  anyOf:
                                    - type: string
                                    - type: number
                              minItems: 1
                              maxItems: 40
                            highlightRow:
                              type: integer
                              minimum: 0
                          required:
                            - kind
                            - columns
                            - rows
                          additionalProperties: false
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                                - callout
                            tone:
                              type: string
                              enum:
                                - risco
                                - tese
                                - catalisador
                                - atenção
                                - info
                            title:
                              type: string
                              maxLength: 80
                            body:
                              type: string
                              maxLength: 600
[...]
