openapi: 3.1.0
info:
  title: DataBolsa API
  description: >-
    API aberta de dados financeiros locais e globais, com maior profundidade no
    Brasil.


    Convenções:

    - Datas em ISO 8601; valores monetários em BRL salvo campo `currency`.

    - Preços de ações **ajustados por proventos por default** (`adjusted=true`).

    - Indicadores fundamentalistas **TTM por default**, de demonstrações
    consolidadas.

    - **Toda listagem e toda série** respondem `{ data, meta }`: os itens em
    `data` e, em `meta`,
      sempre a paginação (`next_cursor`, `count`). Parte das rotas ecoa também o contexto da
      consulta em `meta` (ticker, sessão, indicador, data-base...) — confira o schema da
      operação antes de depender disso, porque não é universal. Rotas sem cursor trazem
      `next_cursor: null` — nunca um envelope diferente.
    - Paginação por cursor onde ela existe: `?cursor=&limit=`; siga
    `meta.next_cursor` até null.

    - Recursos singulares (um papel, uma companhia, um fundo, uma thread de
    eventos, a saúde da
      ingestão) respondem o objeto direto, sem `data`.
    - Erros seguem RFC 9457 (`application/problem+json`).

    - Toda métrica é rastreável à fonte primária (campo `lineage`).
  version: 3.9.0
  contact:
    name: DataBolsa
  license:
    name: Apache-2.0
servers:
  - url: https://api.databolsa.com
    description: Produção
  - url: http://localhost:8080
    description: Self-hosted
security:
  - bearerApiKey: []
components:
  securitySchemes:
    bearerApiKey:
      type: http
      scheme: bearer
  schemas:
    Health:
      type: object
      properties:
        status:
          type: string
          enum:
            - ok
            - degraded
        version:
          type: string
        build:
          type:
            - string
            - "null"
          description: SHA do commit da imagem que respondeu.
        instance:
          type:
            - string
            - "null"
          description: Identificador do processo/pod que respondeu.
        data_freshness:
          type: object
          additionalProperties:
            type: string
      required:
        - status
        - version
        - build
        - instance
        - data_freshness
    Problem:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
        details:
          type: object
          additionalProperties: {}
          description: O erro em forma LEGÍVEL POR PROGRAMA (membro de extensão do RFC
            9457). `detail` é a frase humana e pode mudar; o que um cliente
            precisa decidir por ele mora aqui — `code` (`not_found`, `split`,
            `budget_exceeded`…), `successors` num 409 de cisão, os números
            recebidos e os tetos num 422 de orçamento.
      required:
        - type
        - title
        - status
    Document:
      type: object
      properties:
        cvm_code:
          type: integer
        kind:
          $ref: "#/components/schemas/DocumentKind"
          description: Tipo estável do documento, derivado de `category`. Use-o para
            filtrar (`kind=material_fact`) em vez de casar a string em
            português, que varia com o vocabulário da fonte.
        category:
          type:
            - string
            - "null"
          description: Categoria como publicada no IPE/CVM (texto livre)
        type:
          type:
            - string
            - "null"
        subject:
          type:
            - string
            - "null"
        reference_date:
          type:
            - string
            - "null"
        filed_at:
          type:
            - string
            - "null"
        protocol:
          type:
            - string
            - "null"
        download_url:
          type:
            - string
            - "null"
      required:
        - cvm_code
        - kind
        - category
        - type
        - subject
        - reference_date
        - filed_at
        - protocol
        - download_url
    DocumentKind:
      type: string
      enum:
        - material_fact
        - market_communication
        - financial_report
        - shareholder_notice
        - shareholder_meeting
        - periodic_report
        - management_report
        - debt_instrument
        - governing_document
        - offering_document
        - regulation
        - other
      description: Classificação estável. debt_instrument = escritura/termo de
        securitização/aditamento; governing_document = regulamento ou documento
        constitutivo; offering_document = lâmina/informações essenciais de
        oferta (Anexo E da RCVM 88); regulation = texto consolidado de norma
        (Resolução/Instrução CVM, Resolução CMN/BCB, lei), cujo objeto dono é
        `norm` no grafo.
    EntityListRow:
      type: object
      properties:
        id:
          type: string
          description: Id aceito por `getObject`, `getObjectFacts` e `listObjectLinks`.
        kind:
          type: string
        subkind:
          type:
            - string
            - "null"
        name:
          type:
            - string
            - "null"
          description: Nulo é objeto sem nome resolvido.
        anchor_type:
          type: string
          description: Tipo da chave âncora (cnpj, ticker, isin).
        anchor_value:
          type: string
          description: A chave âncora, identificador estável do objeto.
        tickers:
          type:
            - array
            - "null"
          items:
            type: string
          description: Códigos de negociação do objeto (BDR, ETF, papel, FII), quando os
            tem. A âncora do BDR é o ISIN e a do ETF é o CNPJ; o ticker viaja
            aqui para o catálogo linkar sem pedir a série de cada um.
        properties:
          type: object
          additionalProperties:
            type:
              - string
              - "null"
          description: As propriedades pedidas em `props`, por nome, como texto. Nulo é
            folha sem a linha. Ausente quando `props` não foi pedido.
      required:
        - id
        - kind
        - subkind
        - name
        - anchor_type
        - anchor_value
        - tickers
    EntityLinkObservationRow:
      type: object
      properties:
        rel:
          type: string
          description: Verbo da relação como o servidor o publica; `string`, não enum,
            para que verbo novo não derrube a resposta. `listObjectRelations`
            lista os vigentes.
        shape:
          type: string
          enum:
            - snapshot
            - event
          description: "`snapshot`: a magnitude publicada numa competência (uma linha por
            competência). `event`: uma DECISÃO datada — ação de agência de
            rating com rótulo, perspectiva, aviso e o recorte de série avaliado;
            duas camadas do mesmo fundo no mesmo dia são duas linhas."
        direction:
          type: string
          enum:
            - out
            - in
        other_id:
          type: string
        other_kind:
          type: string
          description: Tipo do objeto como o servidor o publica; `string`, não enum.
            `getObjectCensus` lista os vigentes.
        other_name:
          type:
            - string
            - "null"
        other_key_type:
          type:
            - string
            - "null"
          description: Tipo de identificador como o servidor o publica; `string`, não
            enum. `getObjectCensus` lista os vigentes.
        other_key:
          type:
            - string
            - "null"
        source:
          type: string
        observed_at:
          type: string
          description: Competência da magnitude publicada (`snapshot`) ou data da decisão
            da agência (`event`).
        magnitude:
          type:
            - number
            - "null"
          description: Tamanho publicado na competência (`snapshot`) ou notch da nota na
            escala (`event`). Nulo não é zero; em `event` é ação sem número.
        magnitude_unit:
          type:
            - string
            - "null"
          description: Unidade da magnitude; em `rates` é a escala (`national_br`,
            `global`), e notch só compara dentro da mesma escala.
        label:
          type:
            - string
            - "null"
          description: "`event`: a nota como a agência a escreveu (`brAAA(sf)`, `AA+`).
            Nulo em `snapshot`."
        outlook:
          type:
            - string
            - "null"
          description: "`event`: perspectiva declarada (`stable`, `positive`, `negative`,
            `developing`). Nulo quando a fonte não a afirma."
        watch:
          type:
            - string
            - "null"
          description: "`event`: aviso de revisão (`positive`, `negative`). Nulo quando
            não há."
        action:
          type:
            - string
            - "null"
          description: "`event`: a ação (`assigned`, `affirmed`, `upgraded`, `downgraded`,
            `withdrawn`, `watch_placed`). Nulo quando o documento não a nomeia."
        series:
          type:
            - string
            - "null"
          description: "`event`: o recorte avaliado dentro do sujeito, como
            `classe:número:tranche:emissão` (`senior:1::`, `mezzanine::A:`).
            Nulo quando a decisão é sobre o sujeito inteiro; separa as camadas
            avaliadas no mesmo dia."
        confidence:
          type: string
          enum:
            - high
            - low
      required:
        - rel
        - shape
        - direction
        - other_id
        - other_kind
        - other_name
        - other_key_type
        - other_key
        - source
        - observed_at
        - magnitude
        - magnitude_unit
        - label
        - outlook
        - watch
        - action
        - series
        - confidence
    EntityEvidence:
      type: object
      properties:
        protocol:
          type: string
          description: Protocolo do documento na fonte; identifica o documento em
            `readDocument`.
        source:
          type: string
          description: Conector que trouxe o documento (IPE da CVM, FNET, DFP/ITR).
        url:
          type:
            - string
            - "null"
          description: Link da fonte, quando publicado.
        category:
          type:
            - string
            - "null"
        type:
          type:
            - string
            - "null"
        reference_date:
          type:
            - string
            - "null"
        filed_at:
          type:
            - string
            - "null"
          description: Data de protocolo; é a que vale para leitura point-in-time.
        page_start:
          type:
            - integer
            - "null"
        page_end:
          type:
            - integer
            - "null"
        heading:
          type:
            - string
            - "null"
          description: Caminho de títulos até o trecho, quando o documento tem estrutura.
        excerpt:
          type: string
          description: Texto do documento, não resumo.
      required:
        - protocol
        - source
        - url
        - category
        - type
        - reference_date
        - filed_at
        - page_start
        - page_end
        - heading
        - excerpt
    FactAxes:
      type:
        - object
        - "null"
      properties:
        dimension:
          type:
            - string
            - "null"
          description: "O que o número é: `currency`, `rate`, `share`, `ratio`, `index`,
            `points`, `count`, `duration`."
        scale:
          type:
            - string
            - "null"
          description: "Escala em que o valor é servido: `unit`, `percent`, `bps`,
            `thousand`, `million`, `billion`, `business_days`. O valor vem como
            publicado; a escala diz como lê-lo."
        period:
          type:
            - string
            - "null"
          description: "Janela coberta pelo número: `none`, `daily`, `monthly`,
            `quarterly`, `annual`, `ttm_12m`, `cagr_3y`. Não é a cadência de
            publicação. `none` indica nível, sem janela."
        seasonal_adjustment:
          type:
            - string
            - "null"
          description: "`nsa` sem ajuste, `sa` com ajuste, `saar` ajustado e anualizado.
            Nulo fora das séries macro."
        expected_range:
          type:
            - object
            - "null"
          properties:
            min:
              type: number
            max:
              type: number
          required:
            - min
            - max
          description: Faixa plausível declarada, na mesma escala do valor. Alimenta
            `out_of_prior`.
        concept:
          type: string
          description: O conceito medido, sem a régua. Medidas com o mesmo `concept`
            compartilham `dimension` e `period`; moeda e escala podem divergir.
            O vocabulário é `x-ontology.concepts`.
        aggregation:
          type:
            - string
            - "null"
          description: "Como as observações se juntam no tempo: `flow` (quantidade por
            período: soma), `rate_compound` (variação % do período: compõe),
            `rate_level` (taxa que é nível: média ou diferença em p.p.), `level`
            (estoque ou índice: média, variação %, diferença). Decide quais
            `transform` de `getObjectHistory` a série aceita. Nulo quando a
            medida não declara."
      required:
        - dimension
        - scale
        - period
        - seasonal_adjustment
        - expected_range
        - concept
        - aggregation
    PublicMarketEvent:
      type: object
      properties:
        event_id:
          type: number
        day:
          type: string
          description: Dia do evento (YYYY-MM-DD, BRT).
        layer:
          type: string
          description: estrutural | setorial | corporativa
        category:
          type: string
          description: macro | politica | internacional | commodities | corporate | fii |
            cripto | mercado | outros
        title:
          type: string
        summary:
          type:
            - string
            - "null"
        entities:
          type: array
          items:
            type: string
          description: Atores/empresas citados (ticker NÃO é obrigatório).
        tickers:
          type: array
          items:
            type: string
        transmission_channels:
          type: array
          items:
            type: string
          description: "Canais de transmissão a preço: dolar | ibov | brent | curva |
            selic."
        score:
          type:
            - number
            - "null"
        detectors:
          type: array
          items:
            type: string
          description: "Quais detectores confirmaram: official | press | market. 2+ =
            evento forte."
        thread_slug:
          type:
            - string
            - "null"
          description: Thread (evento-pai) quando o evento faz parte de uma história em
            curso.
        source_refs:
          type: array
          items:
            $ref: "#/components/schemas/MarketEventSourceRef"
      required:
        - event_id
        - day
        - layer
        - category
        - title
        - summary
        - entities
        - tickers
        - transmission_channels
        - score
        - detectors
        - thread_slug
        - source_refs
    MarketEventSourceRef:
      type: object
      properties:
        kind:
          type: string
          description: "Origem da evidência: dou | rss | copom | fedreg | camara | gdelt |
            price"
        id:
          anyOf:
            - type: string
            - type: number
        url:
          type:
            - string
            - "null"
        title:
          type: string
      required:
        - kind
        - id
        - url
        - title
    LiveQuote:
      type: object
      properties:
        ticker:
          type: string
        price:
          type:
            - number
            - "null"
        change_pct:
          type:
            - number
            - "null"
        ts:
          type: string
        session_date:
          type: string
        prev_close:
          type:
            - number
            - "null"
        source:
          type: string
          enum:
            - intraday
            - eod
        sessions_behind:
          type: integer
          description: Pregões entre `session_date` e a última sessão do mercado. 0 =
            preço da sessão corrente. > 0 = último negócio conhecido do papel,
            congelado — `change_pct` vem null nesse caso.
      required:
        - ticker
        - price
        - change_pct
        - ts
        - session_date
        - prev_close
        - source
        - sessions_behind
    Quote:
      type: object
      properties:
        date:
          type: string
        open:
          type:
            - number
            - "null"
        high:
          type:
            - number
            - "null"
        low:
          type:
            - number
            - "null"
        close:
          type:
            - number
            - "null"
        close_raw:
          type:
            - number
            - "null"
          description: Fechamento bruto (não ajustado), como reportado pela B3
        close_tr:
          type:
            - number
            - "null"
          description: "Fechamento de retorno total: ajustado por eventos + proventos
            reinvestidos (bruto). = close quando não há fonte de proventos
            (units/FII)"
        volume:
          type:
            - number
            - "null"
          description: Volume financeiro (R$)
        quantity:
          type:
            - number
            - "null"
        trades:
          type:
            - number
            - "null"
          description: "Nº de negócios — null: fonte aberta dá quantidade, não contagem"
        adjusted:
          type: boolean
        adjust_type:
          type:
            - string
            - "null"
        adjust_quality:
          type:
            - string
            - "null"
      required:
        - date
        - open
        - high
        - low
        - close
        - close_raw
        - close_tr
        - volume
        - quantity
        - trades
        - adjusted
        - adjust_type
        - adjust_quality
    IntradayPoint:
      type: object
      properties:
        ts:
          type: string
        price:
          type:
            - number
            - "null"
        change_pct:
          type:
            - number
            - "null"
      required:
        - ts
        - price
        - change_pct
    IndicatorValue:
      type: object
      properties:
        name:
          type: string
        label:
          type: string
        value:
          type:
            - number
            - "null"
          description: null quando não calculável — ver reason
        unit:
          type: string
          enum:
            - ratio
            - percent
            - brl
            - brl_per_share
            - count
            - days
        reason:
          type:
            - string
            - "null"
        reference_date:
          type:
            - string
            - "null"
        ttm:
          type: boolean
        lineage:
          $ref: "#/components/schemas/Lineage"
        methodology_url:
          type: string
      required:
        - name
        - label
        - value
        - unit
        - reason
        - reference_date
        - ttm
        - lineage
        - methodology_url
    Lineage:
      type: object
      properties:
        source:
          type: string
        reference:
          type: string
        url:
          type:
            - string
            - "null"
      required:
        - source
        - reference
    CorporateEvent:
      type: object
      properties:
        ticker:
          type: string
          description: "O código sob o qual o evento foi gravado — pode ser um código
            ANTIGO do mesmo papel: a rota resolve o papel pelo grafo de
            identidade e devolve o histórico inteiro, renomeações incluídas"
        entity_id:
          type:
            - string
            - "null"
          description: O objeto do PAPEL no grafo de identidade. Nulo quando o código não
            resolveu no spine
        type:
          type:
            - string
            - "null"
        approved_date:
          type:
            - string
            - "null"
        ex_date:
          type:
            - string
            - "null"
        factor:
          type:
            - number
            - "null"
        detail:
          type:
            - string
            - "null"
      required:
        - ticker
        - entity_id
        - type
        - approved_date
        - ex_date
        - factor
        - detail
    InsiderMove:
      type: object
      properties:
        reference_month:
          type: string
          description: AAAA-MM
        net_shares:
          type:
            - number
            - "null"
        net_value_brl:
          type:
            - number
            - "null"
        buy_value_brl:
          type:
            - number
            - "null"
        sell_value_brl:
          type:
            - number
            - "null"
        corporate_event_shares:
          type:
            - number
            - "null"
          description: "NÃO SOMAR a net_shares. Saldo de eventos NÃO-mercado do mesmo mês
            — bonificação, doação, herança, grupamento/desdobramento, empréstimo
            de ações e posse/desligamento de cargo — que mudam a posição do
            insider sem nenhuma compra ou venda. Vem separado porque a magnitude
            é maior que a do fluxo: 719.464 Mi de ações em módulo contra 184.689
            Mi do net de mercado (3,9×), presente em 39,1% dos meses do acervo."
        lineage:
          $ref: "#/components/schemas/Lineage"
      required:
        - reference_month
        - net_shares
        - net_value_brl
        - buy_value_brl
        - sell_value_brl
        - corporate_event_shares
        - lineage
    FundTickerMove:
      type: object
      properties:
        ticker:
          type: string
        comptc_date:
          type: string
          description: competência do CDA (AAAA-MM-DD)
        cnpj:
          type: string
          description: CNPJ da classe que se moveu
        prev_comptc_date:
          type:
            - string
            - "null"
          description: competência anterior COMPARÁVEL, não o mês calendário
        fund_name:
          type:
            - string
            - "null"
        fund_manager:
          type:
            - string
            - "null"
        qty_prev:
          type:
            - number
            - "null"
        qty_cur:
          type:
            - number
            - "null"
        qty_delta:
          type:
            - number
            - "null"
          description: Variação em QUANTIDADE, posição econômica (direta + cedida em
            empréstimo − obrigação por recebida). Negativo = posição reduzida ou
            vendida.
        value_prev_brl:
          type:
            - number
            - "null"
        value_cur_brl:
          type:
            - number
            - "null"
        move_kind:
          type:
            - string
            - "null"
          enum:
            - entrou
            - aumentou
            - reduziu
            - saiu
            - abriu_venda
            - zerou_venda
            - manteve
            - indeterminado
            - null
          description: "Classificado pelo SINAL da posição econômica, não pelo zero: a
            posição pode ser negativa (obrigação por ações recebidas > posse),
            então abrir venda é `abriu_venda` e não `entrou`. `indeterminado` =
            um dos meses declarou R$ sem quantidade, e aí o zero não significa
            ausência de posição."
        delta_reason:
          type:
            - string
            - "null"
          enum:
            - posicao_liquida_negativa
            - somente_emprestimo
            - quantidade_nao_divulgada
            - null
          description: Anotação de leitura da linha; null = posição comprada, declarada e
            com quantidade.
        lineage:
          type:
            - string
            - "null"
      required:
        - ticker
        - comptc_date
        - cnpj
        - prev_comptc_date
        - fund_name
        - fund_manager
        - qty_prev
        - qty_cur
        - qty_delta
        - value_prev_brl
        - value_cur_brl
        - move_kind
        - delta_reason
        - lineage
    TickerDemand:
      type: object
      properties:
        ticker:
          type: string
        month_ref:
          type: string
          description: AAAA-MM
        comptc_date:
          type:
            - string
            - "null"
          description: competência do CDA; null quando o mês só tem insider
        asset_kind:
          type:
            - string
            - "null"
          enum:
            - equity
            - bdr
            - null
        funds_holders:
          type:
            - number
            - "null"
          description: fundos com posição econômica POSITIVA no ativo; o vendido está em
            funds_short_holders
        funds_short_holders:
          type:
            - number
            - "null"
          description: fundos com posição econômica negativa (obrigação por ações
            recebidas > posse)
        funds_shares:
          type:
            - number
            - "null"
        funds_value_brl:
          type:
            - number
            - "null"
        funds_implied_price:
          type:
            - number
            - "null"
          description: preço implícito do próprio CDA (R$/qtd), não o fechamento
        funds_shares_delta:
          type:
            - number
            - "null"
          description: Variação de posição em QUANTIDADE, medida só no painel balanceado;
            null quando não é comparável
        funds_value_flow_brl:
          type:
            - number
            - "null"
          description: "O fluxo em R$ (Δqtd × preço implícito). O Δ do valor bruto NÃO
            serve como fluxo: em ITUB4 (04→05/2026) o bruto dá −44,2 Mi enquanto
            o fluxo é +153,2 Mi — sinal trocado."
        funds_value_price_effect_brl:
          type:
            - number
            - "null"
          description: parcela do Δ em R$ que veio só da marcação
        funds_entered:
          type:
            - number
            - "null"
          description: fundos que abriram posição COMPRADA (short entra em
            funds_opened_short)
        funds_exited:
          type:
            - number
            - "null"
          description: fundos que zeraram posição COMPRADA
        funds_increased:
          type:
            - number
            - "null"
        funds_decreased:
          type:
            - number
            - "null"
        funds_opened_short:
          type:
            - number
            - "null"
          description: fundos que abriram posição vendida
        funds_closed_short:
          type:
            - number
            - "null"
          description: fundos que zeraram posição vendida
        funds_qty_undisclosed:
          type:
            - number
            - "null"
          description: fundos cortados do delta por declararem R$ sem quantidade num dos
            meses
        funds_partial_disclosure:
          type:
            - number
            - "null"
          description: fundos cortados do painel por divulgação parcial
        funds_appeared:
          type:
            - number
            - "null"
          description: fundos cortados do delta por terem COMEÇADO a divulgar carteira —
            entrada na base, não compra
        funds_panel_n:
          type:
            - number
            - "null"
          description: fundos presentes nas DUAS competências
        funds_panel_coverage_pct:
          type:
            - number
            - "null"
          description: PERCENTUAL (0–100) do universo coberto pelo painel — 98,16
            significa 98,16%, não 0,98%. Abaixo do limiar de 90 o delta sai null
            com o motivo em funds_delta_reason. Para o TAMANHO do painel use
            funds_panel_n, que é a contagem de fundos.
        funds_delta_reason:
          type:
            - string
            - "null"
          enum:
            - fora_da_janela_cda
            - primeira_competencia
            - competencia_ausente
            - painel_incompleto
            - null
          description: por que o delta não existe; null = delta válido
        issuer_cnpj:
          type:
            - string
            - "null"
        is_issuer_anchor_ticker:
          type:
            - boolean
            - "null"
          description: true no ÚNICO ticker somável do emissor — filtre por ele antes de
            agregar insider
        insider_net_shares:
          type:
            - number
            - "null"
        insider_net_value_brl:
          type:
            - number
            - "null"
        insider_buy_value_brl:
          type:
            - number
            - "null"
        insider_sell_value_brl:
          type:
            - number
            - "null"
        insider_corporate_event_shares:
          type:
            - number
            - "null"
          description: NÃO SOMAR a insider_net_shares — eventos não-mercado (bonificação,
            herança, grupamento)
        insider_reason:
          type:
            - string
            - "null"
          enum:
            - sem_cnpj_no_cadastro
            - ativo_sem_insider
            - sem_vlmo_no_mes
            - null
          description: por que não há insider no mês; null = há dado
        lineage:
          type:
            - string
            - "null"
      required:
        - ticker
        - month_ref
        - comptc_date
        - asset_kind
        - funds_holders
        - funds_short_holders
        - funds_shares
        - funds_value_brl
        - funds_implied_price
        - funds_shares_delta
        - funds_value_flow_brl
        - funds_value_price_effect_brl
        - funds_entered
        - funds_exited
        - funds_increased
        - funds_decreased
        - funds_opened_short
        - funds_closed_short
        - funds_qty_undisclosed
        - funds_partial_disclosure
        - funds_appeared
        - funds_panel_n
        - funds_panel_coverage_pct
        - funds_delta_reason
        - issuer_cnpj
        - is_issuer_anchor_ticker
        - insider_net_shares
        - insider_net_value_brl
        - insider_buy_value_brl
        - insider_sell_value_brl
        - insider_corporate_event_shares
        - insider_reason
        - lineage
    ScreenerRow:
      type: object
      properties:
        ticker:
          type: string
        name:
          type:
            - string
            - "null"
        sector:
          type:
            - string
            - "null"
        indicators:
          type: object
          properties:
            market_cap:
              type:
                - number
                - "null"
            pl:
              type:
                - number
                - "null"
            pvp:
              type:
                - number
                - "null"
            dy:
              type:
                - number
                - "null"
            payout:
              type:
                - number
                - "null"
            roe:
              type:
                - number
                - "null"
            roic:
              type:
                - number
                - "null"
            ev_ebitda:
              type:
                - number
                - "null"
            div_liq_ebitda:
              type:
                - number
                - "null"
            margem_liquida:
              type:
                - number
                - "null"
            volume_medio_2m:
              type:
                - number
                - "null"
          required:
            - market_cap
            - pl
            - pvp
            - dy
            - payout
            - roe
            - roic
            - ev_ebitda
            - div_liq_ebitda
            - margem_liquida
            - volume_medio_2m
        quality_flags:
          type: array
          items:
            $ref: "#/components/schemas/ScreenerQualityFlag"
      required:
        - ticker
        - name
        - sector
        - indicators
        - quality_flags
    ScreenerQualityFlag:
      type: object
      properties:
        code:
          type: string
          enum:
            - dy_outlier
            - pl_outlier
            - roe_outlier
            - payout_outlier
        indicator:
          type: string
        value:
          type: number
        reason:
          type: string
      required:
        - code
        - indicator
        - value
        - reason
    FiiListRow:
      type: object
      properties:
        ticker:
          type: string
        name:
          type:
            - string
            - "null"
        segment:
          type:
            - string
            - "null"
        is_paper:
          type: boolean
        reference_date:
          type:
            - string
            - "null"
        preco:
          type:
            - number
            - "null"
        dy_12m:
          type:
            - number
            - "null"
        pvp:
          type:
            - number
            - "null"
        vacancia_fisica:
          type:
            - number
            - "null"
        patrimonio_liquido:
          type:
            - number
            - "null"
      required:
        - ticker
        - name
        - segment
        - is_paper
        - reference_date
        - preco
        - dy_12m
        - pvp
        - vacancia_fisica
        - patrimonio_liquido
    FundScreenerItem:
      type: object
      properties:
        cnpj:
          type: string
        name:
          type:
            - string
            - "null"
        tipo_classe:
          type:
            - string
            - "null"
        classificacao:
          type:
            - string
            - "null"
        classificacao_anbima:
          type:
            - string
            - "null"
        manager:
          type:
            - string
            - "null"
        admin_fee_pct:
          type:
            - number
            - "null"
        situacao:
          type:
            - string
            - "null"
        last_date:
          type:
            - string
            - "null"
        last_quota:
          type:
            - number
            - "null"
        net_worth:
          type:
            - number
            - "null"
        shareholders:
          type:
            - number
            - "null"
        return_1m:
          type:
            - number
            - "null"
          description: retorno no mês em FRAÇÃO (0,0117 = 1,17%)
        return_12m:
          type:
            - number
            - "null"
          description: retorno em 12m em FRAÇÃO (0,1453 = 14,53%); null quando o fundo tem
            menos de 12m de cota
        return_ytd:
          type:
            - number
            - "null"
          description: retorno no ano em FRAÇÃO (0,082 = 8,2%)
        net_flow_accumulated:
          type:
            - number
            - "null"
          description: captação líquida (aplicações − resgates) nos últimos 12 meses do
            fundo
      required:
        - cnpj
        - name
        - tipo_classe
        - classificacao
        - classificacao_anbima
        - manager
        - admin_fee_pct
        - situacao
        - last_date
        - last_quota
        - net_worth
        - shareholders
        - return_1m
        - return_12m
        - return_ytd
        - net_flow_accumulated
    DebentureScreenerRow:
      type: object
      properties:
        code:
          type: string
        isin:
          type:
            - string
            - "null"
        issuer_name:
          type: string
        issuer_cnpj:
          type: string
        issuer_cd_cvm:
          type:
            - number
            - "null"
        issuer_primary_ticker:
          type:
            - string
            - "null"
        issuer_categ_reg:
          type:
            - string
            - "null"
        issuer_match_level:
          type:
            - string
            - "null"
        is_active:
          type: boolean
        indexer:
          type:
            - string
            - "null"
        indexer_pct:
          type:
            - number
            - "null"
        spread_pct_aa:
          type:
            - number
            - "null"
        is_incentivada:
          type:
            - boolean
            - "null"
        guarantee_type:
          type:
            - string
            - "null"
        maturity_date:
          type:
            - string
            - "null"
        years_to_maturity:
          type:
            - number
            - "null"
        face_value_current:
          type:
            - number
            - "null"
        qty_outstanding:
          type:
            - number
            - "null"
        qty_outstanding_zero_reason:
          type:
            - string
            - "null"
          description: "Motivo do zero arquivado na fonte, mesma taxonomia de Debenture:
            'not_placed' e 'fully_redeemed' mantêm 0;
            'contradicted_by_recent_trades',
            'redeemed_before_maturity_unverifiable', 'unreported_no_movement',
            'unreported_partial_movement' e 'unparseable' vêm com
            qty_outstanding null."
        listed_b3:
          type:
            - boolean
            - "null"
        last_trade_date:
          type:
            - string
            - "null"
        last_pu_avg:
          type:
            - number
            - "null"
        last_pct_of_curve:
          type:
            - number
            - "null"
        trades_30d:
          type:
            - number
            - "null"
        qty_traded_30d:
          type:
            - number
            - "null"
        volume_brl_30d:
          type:
            - number
            - "null"
        trades_90d:
          type:
            - number
            - "null"
        volume_brl_90d:
          type:
            - number
            - "null"
        fund_holders:
          type:
            - number
            - "null"
        funds_value_brl:
          type:
            - number
            - "null"
      required:
        - code
        - isin
        - issuer_name
        - issuer_cnpj
        - issuer_cd_cvm
        - issuer_primary_ticker
        - issuer_categ_reg
        - issuer_match_level
        - is_active
        - indexer
        - indexer_pct
        - spread_pct_aa
        - is_incentivada
        - guarantee_type
        - maturity_date
        - years_to_maturity
        - face_value_current
        - qty_outstanding
        - qty_outstanding_zero_reason
        - listed_b3
        - last_trade_date
        - last_pu_avg
        - last_pct_of_curve
        - trades_30d
        - qty_traded_30d
        - volume_brl_30d
        - trades_90d
        - volume_brl_90d
        - fund_holders
        - funds_value_brl
    MacroGear:
      type: object
      properties:
        gear:
          type: string
        indicators:
          type: array
          items:
            $ref: "#/components/schemas/RegimeSignal"
      required:
        - gear
        - indicators
    RegimeSignal:
      type: object
      properties:
        name:
          type: string
        value:
          type:
            - number
            - "null"
        direction:
          type:
            - string
            - "null"
          enum:
            - up
            - down
            - flat
            - null
        lineage:
          $ref: "#/components/schemas/Lineage"
        unit:
          type:
            - string
            - "null"
          description: Rótulo de unidade como o mart escreveu, para exibição — são 33
            grafias distintas em 72 indicadores. Para decidir comparabilidade
            use `dimension`/`scale`/`period`.
        label:
          type:
            - string
            - "null"
        date:
          type:
            - string
            - "null"
        dimension:
          type:
            - string
            - "null"
          enum:
            - rate
            - index
            - currency
            - share
            - ratio
            - score
            - ordinal
            - null
          description: O que o número É, no MESMO vocabulário da régua da série
            (`axes.dimension` em `getObjectFacts`/`getObjectHistory`) — é isso
            que torna esta rota e o fato bruto comparáveis. `score` é o par de
            regime, em [-1,1]; `ordinal` é o quadrante 1–4, que não se soma nem
            se tira média.
        scale:
          type:
            - string
            - "null"
          enum:
            - unit
            - thousand
            - million
            - billion
            - percent
            - bps
            - null
          description: "Quase tudo aqui é `unit` (decimal: 0,5576 e não 55,76) porque esta
            é a camada derivada. A série CRUA equivalente sai em
            `getObjectHistory` com `scale: percent` — o mesmo número em escalas
            100× diferentes, e antes deste campo nada dizia isso."
        period:
          type:
            - string
            - "null"
          enum:
            - none
            - monthly
            - quarterly
            - annual
            - ttm_12m
            - null
          description: Que janela o número cobre. `ipca_mensal` e `ipca_12m` são o mesmo
            indicador em janelas diferentes.
        expected_range:
          type:
            - object
            - "null"
          properties:
            min:
              type: number
            max:
              type: number
          required:
            - min
            - max
          description: Faixa plausível declarada, na escala deste campo. Guarda-corpo
            contra erro dimensional, não previsão.
        prior_note:
          type:
            - string
            - "null"
        entity_id:
          type:
            - string
            - "null"
          description: 'O ENDEREÇO deste indicador no grafo. Esta rota é um SNAPSHOT por
            seção: ela diz quanto é hoje e não tem eixo de tempo por indicador.
            Com o id, `getObjectHistory` devolve a série inteira e `rankObjects`
            ordena a coorte — sem precisar resolver o nome de novo, que é onde
            se perde o objeto certo (existem `ipca_mensal` e `ipca_12m`, e
            buscar "IPCA" não diz qual dos dois).'
      required:
        - name
        - value
        - direction
        - lineage
    RegimeSnapshot:
      type: object
      properties:
        as_of:
          type:
            - string
            - "null"
        quadrant:
          type:
            - string
            - "null"
          enum:
            - growth_up_inflation_up
            - growth_up_inflation_down
            - growth_down_inflation_up
            - growth_down_inflation_down
            - null
        growth:
          type: object
          properties:
            direction:
              type:
                - string
                - "null"
              enum:
                - up
                - down
                - flat
                - null
            signals:
              type: array
              items:
                $ref: "#/components/schemas/RegimeSignal"
          required:
            - direction
            - signals
        inflation:
          type: object
          properties:
            direction:
              type:
                - string
                - "null"
              enum:
                - up
                - down
                - flat
                - null
            signals:
              type: array
              items:
                $ref: "#/components/schemas/RegimeSignal"
          required:
            - direction
            - signals
        cross_asset:
          type: object
          properties:
            dy_vs_selic_spread:
              type:
                - number
                - "null"
            equity_risk_premium:
              type:
                - number
                - "null"
            real_selic:
              type:
                - number
                - "null"
          required:
            - dy_vs_selic_spread
            - equity_risk_premium
            - real_selic
      required:
        - as_of
        - quadrant
        - growth
        - inflation
        - cross_asset
    BondCurvePoint:
      type: object
      properties:
        tenor_days:
          type: number
        tenor_years:
          type:
            - number
            - "null"
        rate_pct_aa:
          type:
            - number
            - "null"
      required:
        - tenor_days
        - tenor_years
        - rate_pct_aa
    TesouroAuction:
      type: object
      properties:
        auction_date:
          type: string
        bond_type:
          type: string
        maturity_date:
          type:
            - string
            - "null"
        offered_qty:
          type:
            - number
            - "null"
        accepted_qty:
          type:
            - number
            - "null"
        cut_rate_pct:
          type:
            - number
            - "null"
        avg_rate_pct:
          type:
            - number
            - "null"
        financial_brl:
          type:
            - number
            - "null"
        second_round_qty:
          type:
            - number
            - "null"
        bid_to_cover:
          type:
            - number
            - "null"
      required:
        - auction_date
        - bond_type
        - maturity_date
        - offered_qty
        - accepted_qty
        - cut_rate_pct
        - avg_rate_pct
        - financial_brl
        - second_round_qty
        - bid_to_cover
    CommodityCurvePoint:
      type: object
      properties:
        contract_code:
          type: string
        expiry_date:
          type:
            - string
            - "null"
        settlement_price:
          type:
            - number
            - "null"
        contracts:
          type:
            - number
            - "null"
      required:
        - contract_code
        - expiry_date
        - settlement_price
        - contracts
    CommoditySettlement:
      type: object
      properties:
        trade_date:
          type: string
        contract_code:
          type: string
        expiry_date:
          type:
            - string
            - "null"
        settlement_price:
          type:
            - number
            - "null"
        prev_settlement_price:
          type:
            - number
            - "null"
        close_price:
          type:
            - number
            - "null"
        contracts:
          type:
            - number
            - "null"
        trades:
          type:
            - number
            - "null"
        financial_volume:
          type:
            - number
            - "null"
      required:
        - trade_date
        - contract_code
        - expiry_date
        - settlement_price
        - prev_settlement_price
        - close_price
        - contracts
        - trades
        - financial_volume
    MineralObservation:
      type: object
      properties:
        mineral:
          type: string
        label:
          type:
            - string
            - "null"
        group:
          type:
            - string
            - "null"
        country:
          type: string
        country_iso3:
          type:
            - string
            - "null"
        country_label:
          type: string
        is_world_total:
          type: boolean
          description: Linha do total mundial, não de um país.
        statistic:
          type: string
        statistic_detail:
          type:
            - string
            - "null"
        statistic_detail_base:
          type:
            - string
            - "null"
        unit:
          type:
            - string
            - "null"
        year:
          type: number
        value:
          type:
            - number
            - "null"
        value_raw:
          type:
            - string
            - "null"
        value_flag:
          type:
            - string
            - "null"
        value_flag_reason:
          type:
            - string
            - "null"
        world_total:
          type:
            - number
            - "null"
        world_total_flag:
          type:
            - string
            - "null"
        countries_withheld:
          type: number
        is_estimate:
          type: boolean
        is_critical:
          type: boolean
        share_of_world_pct:
          type:
            - number
            - "null"
          description: Nulo quando não calculável, com motivo.
        share_basis:
          type: string
          description: "Por que o share existe ou não existe. Sempre preenchido, mesmo
            quando o share é nulo. `ok`: share calculado contra o total mundial
            da MESMA base e unidade. `incomparable_basis`: existe total mundial
            para a commodity, mas os países reportam bases diferentes e não
            somáveis. É o caso das reservas de boro (Turquia em boratos
            refinados, Chile em ulexita, China em óxido bórico equivalente); o
            próprio USGS marca o total como `XX`. Dividir um país por esse total
            produz o tipo de número redondo e falso que circula por aí.
            `world_total_not_calculable`: o USGS publica o total como `XX`, ou
            seja, declara-o incalculável. `no_world_total`: não há total mundial
            publicado para o recorte (comum nas séries só domésticas dos EUA,
            que a publicação traz com mais anos que a tabela mundial).
            `is_world_total`: a própria linha é o total mundial, então não há
            share de si mesma. `value_<flag>` (`value_na`, `value_w`, `value_s`,
            `value_large`, ...): o país não tem valor numérico; a sentinela
            publicada está em `value_raw` e o motivo em `value_flag_reason`."
        notes:
          type:
            - string
            - "null"
        revision:
          type:
            - string
            - "null"
        edition:
          type: string
        edition_year:
          type: number
      required:
        - mineral
        - label
        - group
        - country
        - country_iso3
        - country_label
        - is_world_total
        - statistic
        - statistic_detail
        - statistic_detail_base
        - unit
        - year
        - value
        - value_raw
        - value_flag
        - value_flag_reason
        - world_total
        - world_total_flag
        - countries_withheld
        - is_estimate
        - is_critical
        - share_of_world_pct
        - share_basis
        - notes
        - revision
        - edition
        - edition_year
    MineralProducer:
      type: object
      properties:
        rank:
          type:
            - number
            - "null"
          description: "Posição por valor, do maior para o menor. Nulo quando a linha não
            entra em ranking: país sem valor numérico (sentinela) ou linha
            agregada ('Outros países')."
        country:
          type: string
          description: País como o USGS nomeia.
        country_iso3:
          type:
            - string
            - "null"
          description: ISO 3166-1 alfa-3. Nulo em linhas agregadas como 'Outros países'.
        country_label:
          type: string
          description: País em português.
        is_aggregate:
          type: boolean
          description: Linha agregada ('Outros países'), não um país. Some do ranking
            numerado.
        value:
          type:
            - number
            - "null"
          description: Quantidade na unidade de `unit`. Nulo quando o USGS publicou
            sentinela.
        value_raw:
          type:
            - string
            - "null"
          description: O texto exatamente como o USGS publicou, inclusive sentinela ('W',
            'NA', '—'). É o que preserva o motivo quando `value` é nulo.
        value_flag:
          type:
            - string
            - "null"
          description: "Sentinela isolada: W, NA, s, XX, ..."
        value_flag_reason:
          type:
            - string
            - "null"
          description: Leitura da sentinela, em português.
        unit:
          type:
            - string
            - "null"
        share_of_world_pct:
          type:
            - number
            - "null"
          description: Participação no total mundial, em %. NULO quando não é calculável,
            e nesse caso `share_basis` diz o motivo. Nunca zero por ausência.
        share_basis:
          type: string
          description: "Por que o share existe ou não existe. Sempre preenchido, mesmo
            quando o share é nulo. `ok`: share calculado contra o total mundial
            da MESMA base e unidade. `incomparable_basis`: existe total mundial
            para a commodity, mas os países reportam bases diferentes e não
            somáveis. É o caso das reservas de boro (Turquia em boratos
            refinados, Chile em ulexita, China em óxido bórico equivalente); o
            próprio USGS marca o total como `XX`. Dividir um país por esse total
            produz o tipo de número redondo e falso que circula por aí.
            `world_total_not_calculable`: o USGS publica o total como `XX`, ou
            seja, declara-o incalculável. `no_world_total`: não há total mundial
            publicado para o recorte (comum nas séries só domésticas dos EUA,
            que a publicação traz com mais anos que a tabela mundial).
            `is_world_total`: a própria linha é o total mundial, então não há
            share de si mesma. `value_<flag>` (`value_na`, `value_w`, `value_s`,
            `value_large`, ...): o país não tem valor numérico; a sentinela
            publicada está em `value_raw` e o motivo em `value_flag_reason`."
        statistic_detail:
          type:
            - string
            - "null"
          description: Detalhe do agregado exatamente como publicado.
        statistic_detail_base:
          type:
            - string
            - "null"
          description: Detalhe normalizado. É a chave que torna dois países comparáveis.
        is_estimate:
          type: boolean
          description: Valor estimado pelo USGS (vale para o ano mais recente).
        notes:
          type:
            - string
            - "null"
      required:
        - rank
        - country
        - country_iso3
        - country_label
        - is_aggregate
        - value
        - value_raw
        - value_flag
        - value_flag_reason
        - unit
        - share_of_world_pct
        - share_basis
        - statistic_detail
        - statistic_detail_base
        - is_estimate
        - notes
    MineralDetailOption:
      type: object
      properties:
        detail:
          type: string
          description: "Base do agregado, ex.: Mine production, Refinery production."
        countries:
          type: number
        unit:
          type:
            - string
            - "null"
        world_total:
          type:
            - number
            - "null"
        world_total_flag:
          type:
            - string
            - "null"
      required:
        - detail
        - countries
        - unit
        - world_total
        - world_total_flag
    Debenture:
      type: object
      properties:
        code:
          type: string
        isin:
          type:
            - string
            - "null"
        issuer_name:
          type: string
        issuer_cnpj:
          type: string
        issuer_cd_cvm:
          type:
            - number
            - "null"
        issuer_primary_ticker:
          type:
            - string
            - "null"
        issuer_categ_reg:
          type:
            - string
            - "null"
        issuer_sector:
          type:
            - string
            - "null"
          description: Setor oficial da CVM do emissor; null quando o emissor não tem
            registro.
        issuer_match_level:
          type: string
          description: "Nunca nulo: 'exact' (CNPJ de 14 dígitos casou),
            'none_cnpj_root_only' (só a raiz de 8 dígitos casa — SPE de grupo
            registrado; o balanço da holding NÃO é atribuído a ela) ou
            'none_issuer_not_in_cvm_registry'. Os dois 'none_*' são limite da
            FONTE, não lacuna de ingest: ~48% das emissões de 2021+ vêm de
            emissor sem registro na CVM, e sem registro não há setor,
            demonstração nem documento."
        situation:
          type:
            - string
            - "null"
        is_active:
          type: boolean
        issue_date:
          type:
            - string
            - "null"
        maturity_date:
          type:
            - string
            - "null"
        effective_maturity_date:
          type:
            - string
            - "null"
        maturity_is_sentinel:
          type:
            - boolean
            - "null"
        term_years_implausible:
          type:
            - boolean
            - "null"
          description: Prazo acima de 40 anos que NÃO é sentinela (concessão longa, p.ex.)
            — plausível, mas verifique.
        exit_date:
          type:
            - string
            - "null"
        exit_reason:
          type:
            - string
            - "null"
        cvm_registration_raw:
          type:
            - string
            - "null"
        registration_regime:
          type:
            - string
            - "null"
          description: "Regime de registro normalizado: rito_automatico_rcvm_160 |
            dispensa_icvm_476 | registro_ordinario | dispensa_outra | pendente |
            outro. As dispensadas pela ICVM 476 não constam do registro de
            ofertas (listOfferings)."
        indexer:
          type:
            - string
            - "null"
        indexer_pct:
          type:
            - number
            - "null"
        spread_pct_aa:
          type:
            - number
            - "null"
        spread_pct_aa_as_filed:
          type:
            - number
            - "null"
          description: Campo moderno de taxa do SND, cru. Pode ser 0 como placeholder —
            não use para média.
        spread_pct_aa_source:
          type:
            - string
            - "null"
          description: "De onde a taxa veio: 'juros_novo' | 'juros_antigo_parsed'."
        spread_day_count:
          type:
            - number
            - "null"
          description: Base de contagem da taxa (252 | 360 | 365). Taxas em bases
            diferentes não são comparáveis.
        spread_absent_reason:
          type:
            - string
            - "null"
          description: "Motivo da taxa ausente: 'not_filed' | 'no_index_no_rate' |
            'unparseable_legacy' | 'filed_zero_unverifiable'. Preenchido se e
            somente se spread_pct_aa é null."
        is_incentivada:
          type:
            - boolean
            - "null"
        guarantee_type:
          type:
            - string
            - "null"
        debenture_class:
          type:
            - string
            - "null"
        face_value_issue:
          type:
            - number
            - "null"
        face_value_current:
          type:
            - number
            - "null"
        face_value_date:
          type:
            - string
            - "null"
        qty_issued:
          type:
            - number
            - "null"
        qty_issued_zero_reason:
          type:
            - string
            - "null"
          description: "Só quando qty_issued = 0 e há valor nominal: 'not_placed' (série
            registrada e não colocada) | 'unreported'. O volume da emissão é
            face_value_issue x qty_issued, então sem isto a emissão parece valer
            R$ 0."
        qty_outstanding:
          type:
            - number
            - "null"
        qty_outstanding_as_filed:
          type:
            - number
            - "null"
          description: Quantidade em mercado exatamente como o SND arquiva, inclusive
            quando é 0. Serve para auditar a diferença contra qty_outstanding;
            para cálculo, use qty_outstanding.
        qty_outstanding_zero_reason:
          type:
            - string
            - "null"
          description: "Só quando a fonte arquiva 0 em mercado. O campo do SND tem largura
            fixa ('000000000000'), então zero e 'não informado' são a mesma
            string — este motivo é o que separa os dois. 'not_placed' (nada
            emitido) e 'fully_redeemed' (baixas fecham com o emitido, papel
            vencido e sem negócio recente) são zeros verificáveis e mantêm
            qty_outstanding = 0. 'contradicted_by_recent_trades' (negociou nos
            últimos 90 dias, logo não pode ter 0 em circulação),
            'redeemed_before_maturity_unverifiable' (baixas fecham mas a emissão
            segue registrada com vencimento à frente), 'unreported_no_movement'
            (nenhuma baixa arquivada), 'unreported_partial_movement' (baixas
            menores que o emitido) e 'unparseable' vêm com qty_outstanding null:
            não trate como zero."
        early_redemption:
          type:
            - boolean
            - "null"
        fiduciary_agent:
          type:
            - string
            - "null"
          description: "Agente fiduciário da emissão, as-filed. É quem representa os
            debenturistas e assina os relatórios periódicos sobre a emissão,
            então é por ele que se chega ao documento quando a escritura está
            arquivada sob o CNPJ do emissor e não sob o código do papel. Texto
            livre da fonte: a mesma casa aparece com grafias diferentes, e nós
            não canonizamos para não inventar entidade que a fonte não declara."
        mandate_bank:
          type:
            - string
            - "null"
          description: Banco mandatário (liquidação e pagamento da emissão), as-filed.
            Texto livre.
        lead_coordinator:
          type:
            - string
            - "null"
          description: "Coordenador líder da distribuição, as-filed. Texto livre, e não
            confunda com o `nome_lider` de `listOfferings`: aqui é o líder
            declarado no cadastro da emissão, lá é o da oferta registrada, e os
            dois divergem quando a emissão foi redistribuída."
        listed_b3:
          type:
            - boolean
            - "null"
        last_trade_date:
          type:
            - string
            - "null"
        last_pu_avg:
          type:
            - number
            - "null"
        last_pct_of_curve:
          type:
            - number
            - "null"
      required:
        - code
        - isin
        - issuer_name
        - issuer_cnpj
        - issuer_cd_cvm
        - issuer_primary_ticker
        - issuer_categ_reg
        - issuer_sector
        - issuer_match_level
        - situation
        - is_active
        - issue_date
        - maturity_date
        - effective_maturity_date
        - maturity_is_sentinel
        - term_years_implausible
        - exit_date
        - exit_reason
        - cvm_registration_raw
        - registration_regime
        - indexer
        - indexer_pct
        - spread_pct_aa
        - spread_pct_aa_as_filed
        - spread_pct_aa_source
        - spread_day_count
        - spread_absent_reason
        - is_incentivada
        - guarantee_type
        - debenture_class
        - face_value_issue
        - face_value_current
        - face_value_date
        - qty_issued
        - qty_issued_zero_reason
        - qty_outstanding
        - qty_outstanding_as_filed
        - qty_outstanding_zero_reason
        - early_redemption
        - fiduciary_agent
        - mandate_bank
        - lead_coordinator
        - listed_b3
        - last_trade_date
        - last_pu_avg
        - last_pct_of_curve
    CreditOtcQuote:
      type: object
      properties:
        trade_date:
          type: string
        instrument_code:
          type: string
        family:
          type: string
        isin:
          type:
            - string
            - "null"
        issuer_name:
          type:
            - string
            - "null"
        quantity:
          type:
            - number
            - "null"
        trade_count:
          type:
            - number
            - "null"
        price_min:
          type:
            - number
            - "null"
        price_avg:
          type:
            - number
            - "null"
        price_max:
          type:
            - number
            - "null"
        price_last:
          type:
            - number
            - "null"
        volume_brl:
          type:
            - number
            - "null"
      required:
        - trade_date
        - instrument_code
        - family
        - isin
        - issuer_name
        - quantity
        - trade_count
        - price_min
        - price_avg
        - price_max
        - price_last
        - volume_brl
    CreditCurvePoint:
      type: object
      properties:
        bucket:
          type: string
          enum:
            - 0-2
            - 2-4
            - 4-7
            - 7+
        min_years:
          type: number
        max_years:
          type:
            - number
            - "null"
        spread_median_pct_aa:
          type:
            - number
            - "null"
        pct_of_curve_median:
          type:
            - number
            - "null"
        n_papers:
          type: number
        volume_brl:
          type:
            - number
            - "null"
      required:
        - bucket
        - min_years
        - max_years
        - spread_median_pct_aa
        - pct_of_curve_median
        - n_papers
        - volume_brl
    CreditRatingAction:
      type: object
      properties:
        entity_type:
          type: string
        issuer_cnpj:
          type:
            - string
            - "null"
        asset_code:
          type:
            - string
            - "null"
        series_key:
          type:
            - string
            - "null"
        series_class:
          type:
            - string
            - "null"
        series_raw:
          type:
            - string
            - "null"
        agency:
          type: string
        agency_raw:
          type:
            - string
            - "null"
        scale:
          type: string
          enum:
            - national_br
            - global
        rating_raw:
          type: string
        rating:
          type:
            - string
            - "null"
        rating_notch:
          type:
            - number
            - "null"
        outlook:
          type:
            - string
            - "null"
        watch:
          type:
            - string
            - "null"
        action:
          type:
            - string
            - "null"
        action_date:
          type:
            - string
            - "null"
        doc_filed_at:
          type:
            - string
            - "null"
        action_date_known:
          type: boolean
        source:
          type: string
        protocol:
          type: string
        download_url:
          type:
            - string
            - "null"
        page_start:
          type:
            - number
            - "null"
        evidence_quote:
          type:
            - string
            - "null"
        extraction_confidence:
          type:
            - string
            - "null"
        extracted_at:
          type: string
        declared:
          oneOf:
            - $ref: "#/components/schemas/CreditRatingDeclared"
            - type: "null"
      required:
        - entity_type
        - issuer_cnpj
        - asset_code
        - series_key
        - series_class
        - series_raw
        - agency
        - agency_raw
        - scale
        - rating_raw
        - rating
        - rating_notch
        - outlook
        - watch
        - action
        - action_date
        - doc_filed_at
        - action_date_known
        - source
        - protocol
        - download_url
        - page_start
        - evidence_quote
        - extraction_confidence
        - extracted_at
        - declared
    CreditRatingDeclared:
      type: object
      properties:
        rating_raw:
          type:
            - string
            - "null"
        agency_raw:
          type:
            - string
            - "null"
        reference_date:
          type: string
        is_parseable:
          type:
            - boolean
            - "null"
      required:
        - rating_raw
        - agency_raw
        - reference_date
        - is_parseable
    FidcMonthly:
      type: object
      properties:
        cnpj:
          type: string
        reference_date:
          type: string
        entity_kind:
          type:
            - string
            - "null"
        name:
          type:
            - string
            - "null"
        net_worth:
          type:
            - number
            - "null"
        net_worth_avg:
          type:
            - number
            - "null"
        total_assets:
          type:
            - number
            - "null"
        cash:
          type:
            - number
            - "null"
        portfolio:
          type:
            - number
            - "null"
        receivables_with_risk:
          type:
            - number
            - "null"
        overdue_with_risk:
          type:
            - number
            - "null"
        impaired_with_risk:
          type:
            - number
            - "null"
        overdue_no_risk:
          type:
            - number
            - "null"
        impaired_no_risk:
          type:
            - number
            - "null"
        impaired_total:
          type:
            - number
            - "null"
        delinquency_scope:
          type:
            - string
            - "null"
          enum:
            - with_risk_only
            - both
            - null
        impaired_ratio:
          type:
            - number
            - "null"
          description: "FRAÇÃO da carteira, não percentual: 0,05 = 5%, e o máximo possível
            é 1. Não confunda com `top_originator_pct`, que na MESMA linha vem
            em percentual (35,2 = 35,2%). Não é fração do patrimônio. Nulo tem
            duas causas — veja `impaired_ratio_absent_reason`."
        overdue_ratio:
          type:
            - number
            - "null"
          description: FRAÇÃO da carteira (0,05 = 5%), mesma escala de `impaired_ratio`.
        impaired_exceeds_portfolio:
          type:
            - boolean
            - "null"
          description: true = os dois números são as-filed e corretos, mas não estão na
            mesma base (carteira baixada com inadimplente ainda declarado). A
            razão vem nula de propósito.
        impaired_ratio_absent_reason:
          type:
            - string
            - "null"
          description: >-
            POR QUE `impaired_ratio` veio nulo. `impaired_exceeds_portfolio`:
            inadimplente declarado maior que a carteira. `portfolio_zero`:
            carteira igual a zero — divisão por zero, típico de fundo em
            liquidação ou que baixou o estoque. `portfolio_missing`: a
            competência não traz a carteira.


            Medido na competência mais recente: 309 nulos, 125 do primeiro
            motivo e 184 do segundo. Sem este campo os 184 se leem como "o fundo
            não informou", e carteira zerada é justamente o que se quer saber.
        portfolio_to_net_worth:
          type:
            - number
            - "null"
        top_originator_doc:
          type:
            - string
            - "null"
        top_originator_pct:
          type:
            - number
            - "null"
          description: "PERCENTUAL as-filed: 35,2 = 35,2%. Escala OPOSTA à de
            `impaired_ratio`/`overdue_ratio`, que vêm em fração — as três na
            mesma linha."
        top_originator_pct_implausible:
          type:
            - boolean
            - "null"
      required:
        - cnpj
        - reference_date
        - entity_kind
        - name
        - net_worth
        - net_worth_avg
        - total_assets
        - cash
        - portfolio
        - receivables_with_risk
        - overdue_with_risk
        - impaired_with_risk
        - overdue_no_risk
        - impaired_no_risk
        - impaired_total
        - delinquency_scope
        - impaired_ratio
        - overdue_ratio
        - impaired_exceeds_portfolio
        - impaired_ratio_absent_reason
        - portfolio_to_net_worth
        - top_originator_doc
        - top_originator_pct
        - top_originator_pct_implausible
    FidcSeries:
      type: object
      properties:
        cnpj:
          type: string
        reference_date:
          type: string
        series_label:
          type: string
        seniority_rank:
          type:
            - number
            - "null"
        seniority:
          type:
            - string
            - "null"
        quota_count:
          type:
            - number
            - "null"
        quota_value:
          type:
            - number
            - "null"
        series_net_worth:
          type:
            - number
            - "null"
        return_month_pct:
          type:
            - number
            - "null"
        holder_count:
          type:
            - number
            - "null"
        class_net_worth:
          type:
            - number
            - "null"
        pct_of_class:
          type:
            - number
            - "null"
        pct_of_class_implausible:
          type:
            - boolean
            - "null"
        cascade_observable:
          type:
            - boolean
            - "null"
      required:
        - cnpj
        - reference_date
        - series_label
        - seniority_rank
        - seniority
        - quota_count
        - quota_value
        - series_net_worth
        - return_month_pct
        - holder_count
        - class_net_worth
        - pct_of_class
        - pct_of_class_implausible
        - cascade_observable
    FidcDelinquency:
      type: object
      properties:
        cnpj:
          type: string
        reference_date:
          type: string
        risk_retained:
          type: boolean
        bucket:
          type: string
        bucket_label:
          type:
            - string
            - "null"
        bucket_order:
          type: number
        amount_due:
          type:
            - number
            - "null"
        amount_overdue:
          type:
            - number
            - "null"
        amount_prepaid:
          type:
            - number
            - "null"
        pct_of_due:
          type:
            - number
            - "null"
        pct_of_overdue:
          type:
            - number
            - "null"
        pct_of_prepaid:
          type:
            - number
            - "null"
        pct_implausible:
          type:
            - boolean
            - "null"
        total_due:
          type:
            - number
            - "null"
        total_overdue:
          type:
            - number
            - "null"
        total_prepaid:
          type:
            - number
            - "null"
      required:
        - cnpj
        - reference_date
        - risk_retained
        - bucket
        - bucket_label
        - bucket_order
        - amount_due
        - amount_overdue
        - amount_prepaid
        - pct_of_due
        - pct_of_overdue
        - pct_of_prepaid
        - pct_implausible
        - total_due
        - total_overdue
        - total_prepaid
    FidcScrLevel:
      type: object
      properties:
        cnpj:
          type: string
        reference_date:
          type: string
        scr_level:
          type: string
        scr_order:
          type: number
        amount_debtor:
          type:
            - number
            - "null"
        amount_operation:
          type:
            - number
            - "null"
        pct_debtor:
          type:
            - number
            - "null"
        pct_operation:
          type:
            - number
            - "null"
        total_debtor:
          type:
            - number
            - "null"
        total_operation:
          type:
            - number
            - "null"
        declares_scr:
          type:
            - boolean
            - "null"
      required:
        - cnpj
        - reference_date
        - scr_level
        - scr_order
        - amount_debtor
        - amount_operation
        - pct_debtor
        - pct_operation
        - total_debtor
        - total_operation
        - declares_scr
    FidcSecondaryTrade:
      type: object
      properties:
        trade_date:
          type: string
        instrument_code:
          type: string
        isin:
          type:
            - string
            - "null"
        issuer_name:
          type:
            - string
            - "null"
        cnpj:
          type:
            - string
            - "null"
        match_level:
          type: string
          enum:
            - exact_name
            - none_ambiguous_name
            - none_not_in_informe
            - none_not_fidc
        quantity:
          type:
            - number
            - "null"
        trade_count:
          type:
            - number
            - "null"
        price_min:
          type:
            - number
            - "null"
        price_avg:
          type:
            - number
            - "null"
        price_max:
          type:
            - number
            - "null"
        price_last:
          type:
            - number
            - "null"
        volume_brl:
          type:
            - number
            - "null"
      required:
        - trade_date
        - instrument_code
        - isin
        - issuer_name
        - cnpj
        - match_level
        - quantity
        - trade_count
        - price_min
        - price_avg
        - price_max
        - price_last
        - volume_brl
    FidcSector:
      type: object
      properties:
        cnpj:
          type: string
        reference_date:
          type: string
        sector_code:
          type: string
        parent_code:
          type:
            - string
            - "null"
        is_subcategory:
          type: boolean
        sector_label:
          type: string
        amount:
          type: number
        pct_of_portfolio:
          type:
            - number
            - "null"
      required:
        - cnpj
        - reference_date
        - sector_code
        - parent_code
        - is_subcategory
        - sector_label
        - amount
        - pct_of_portfolio
    FidcInvestor:
      type: object
      properties:
        cnpj:
          type: string
        reference_date:
          type: string
        seniority:
          type: string
          enum:
            - senior
            - subordinada
        investor_type:
          type: string
        investor_type_label:
          type:
            - string
            - "null"
        investor_count:
          type:
            - number
            - "null"
        seniority_total:
          type:
            - number
            - "null"
        pct_of_seniority:
          type:
            - number
            - "null"
        is_institutional:
          type:
            - boolean
            - "null"
      required:
        - cnpj
        - reference_date
        - seniority
        - investor_type
        - investor_type_label
        - investor_count
        - seniority_total
        - pct_of_seniority
        - is_institutional
    FidcPerformance:
      type: object
      properties:
        cnpj:
          type: string
        reference_date:
          type: string
        series_label:
          type: string
        seniority:
          type:
            - string
            - "null"
          enum:
            - senior
            - mezanino
            - subordinada
            - unica
            - null
        expected_pct:
          type:
            - number
            - "null"
        realized_pct:
          type:
            - number
            - "null"
        declares_target:
          type:
            - boolean
            - "null"
        performance_gap_pct:
          type:
            - number
            - "null"
        performance_implausible:
          type:
            - boolean
            - "null"
        shortfall_streak:
          type:
            - number
            - "null"
      required:
        - cnpj
        - reference_date
        - series_label
        - seniority
        - expected_pct
        - realized_pct
        - declares_target
        - performance_gap_pct
        - performance_implausible
        - shortfall_streak
    FidcReturn:
      type: object
      properties:
        cnpj:
          type: string
        reference_date:
          type: string
        series_label:
          type: string
        seniority:
          type:
            - string
            - "null"
          enum:
            - senior
            - mezanino
            - subordinada
            - unica
            - null
        return_month_pct:
          type:
            - number
            - "null"
        return_implausible:
          type:
            - boolean
            - "null"
        cdi_month_pct:
          type:
            - number
            - "null"
        excess_month_pp:
          type:
            - number
            - "null"
        pct_of_cdi:
          type:
            - number
            - "null"
        spread_annual_pp:
          type:
            - number
            - "null"
        cum_year:
          type:
            - number
            - "null"
        cdi_cum_year:
          type:
            - number
            - "null"
        cum_since_inception:
          type:
            - number
            - "null"
        cdi_cum_since_inception:
          type:
            - number
            - "null"
        months_in_window:
          type:
            - number
            - "null"
        is_reported:
          type:
            - boolean
            - "null"
        has_position:
          type:
            - boolean
            - "null"
      required:
        - cnpj
        - reference_date
        - series_label
        - seniority
        - return_month_pct
        - return_implausible
        - cdi_month_pct
        - excess_month_pp
        - pct_of_cdi
        - spread_annual_pp
        - cum_year
        - cdi_cum_year
        - cum_since_inception
        - cdi_cum_since_inception
        - months_in_window
        - is_reported
        - has_position
    FidcPricing:
      type: object
      properties:
        cnpj:
          type: string
        reference_date:
          type: string
        asset_class:
          type: string
          enum:
            - direitos_com_risco
            - direitos_sem_risco
            - valores_mobiliarios
            - titulos_publicos
            - cdb
            - outra_renda_fixa
        asset_class_label:
          type:
            - string
            - "null"
        risk_retained:
          type:
            - boolean
            - "null"
        rate_kind:
          type: string
          enum:
            - desconto_aquisicao
            - juros
        buy_min:
          type:
            - number
            - "null"
        buy_avg:
          type:
            - number
            - "null"
        buy_max:
          type:
            - number
            - "null"
        sell_min:
          type:
            - number
            - "null"
        sell_avg:
          type:
            - number
            - "null"
        sell_max:
          type:
            - number
            - "null"
        buy_spread:
          type:
            - number
            - "null"
        rate_implausible:
          type:
            - boolean
            - "null"
        peer_median_buy_avg:
          type:
            - number
            - "null"
        peer_count:
          type:
            - number
            - "null"
        buy_vs_peer_pp:
          type:
            - number
            - "null"
      required:
        - cnpj
        - reference_date
        - asset_class
        - asset_class_label
        - risk_retained
        - rate_kind
        - buy_min
        - buy_avg
        - buy_max
        - sell_min
        - sell_avg
        - sell_max
        - buy_spread
        - rate_implausible
        - peer_median_buy_avg
        - peer_count
        - buy_vs_peer_pp
    FidcOriginatorExposure:
      type: object
      properties:
        cnpj:
          type: string
        name:
          type:
            - string
            - "null"
        reference_date:
          type: string
        origin_block:
          type: string
          enum:
            - with_risk
            - no_risk
            - legacy
        risk_retained:
          type:
            - boolean
            - "null"
        originator_rank:
          type: number
        share_pct:
          type:
            - number
            - "null"
          description: "PERCENTUAL as-filed da carteira da classe atribuído a este
            cedente: 35,2 = 35,2%. Escala OPOSTA à de `impaired_ratio`, nesta
            mesma linha."
        share_pct_implausible:
          type:
            - boolean
            - "null"
        net_worth:
          type:
            - number
            - "null"
        portfolio:
          type:
            - number
            - "null"
        impaired_ratio:
          type:
            - number
            - "null"
          description: "FRAÇÃO da carteira da classe: 0,05 = 5%, máximo 1. Escala OPOSTA à
            de `share_pct`, nesta mesma linha — multiplicar por 100 antes de
            comparar."
      required:
        - cnpj
        - name
        - reference_date
        - origin_block
        - risk_retained
        - originator_rank
        - share_pct
        - share_pct_implausible
        - net_worth
        - portfolio
        - impaired_ratio
    IndexComponent:
      type: object
      properties:
        ticker:
          type: string
        weight:
          type: number
        theoretical_quantity:
          type: number
      required:
        - ticker
        - weight
        - theoretical_quantity
    FundProfile:
      type: object
      properties:
        cnpj:
          type: string
        codigo_cvm:
          type:
            - number
            - "null"
        name:
          type:
            - string
            - "null"
        tipo_classe:
          type:
            - string
            - "null"
        situacao:
          type:
            - string
            - "null"
        classificacao:
          type:
            - string
            - "null"
        classificacao_anbima:
          type:
            - string
            - "null"
        entidade_investimento:
          type:
            - boolean
            - "null"
          description: Entidade de investimento na acepção contábil (CPC 18/IFRS 10), o
            que muda como as participadas são avaliadas. **Era `"S"`/`"N"` até
            20/08/2026** — a letra da CVM ia crua até aqui. Nulo é ausência de
            declaração na fonte, nunca `false`.
        net_worth:
          type:
            - number
            - "null"
          description: "patrimônio líquido (R$). É o PL DA CLASSE. Somar `net_worth` de
            várias classes conta o mesmo dinheiro mais de uma vez: um FIC entra
            com o PL dele e o fundo investido também — no universo CVM 175 isso
            infla o agregado da indústria em cerca de 37%. Para um total,
            desconte a posição em cotas de fundos (`listFundLookThrough`)."
        net_worth_date:
          type:
            - string
            - "null"
          description: competência do `net_worth` (Data_Patrimonio_Liquido da CVM). O
            cadastro anda em geral UMA competência atrás do informe diário —
            para a série use `getObjectHistory(net_worth)`, que publica o PL por
            dia. Nunca leia `net_worth` sem esta data.
        cnpj_fundo:
          type:
            - string
            - "null"
        tipo_fundo:
          type:
            - string
            - "null"
        administrator:
          type:
            - string
            - "null"
        manager:
          type:
            - string
            - "null"
          description: gestor
        manager_cnpj:
          type:
            - string
            - "null"
          description: CNPJ do gestor (14 dígitos). É a chave estável da casa — use-a em
            vez de casar `manager` por razão social. Null quando o gestor é
            pessoa física ou quando a CVM não declara.
        admin_fee_pct:
          type:
            - number
            - "null"
          description: taxa de administração (herdada do cadastro legado)
        performance_fee_pct:
          type:
            - number
            - "null"
        data_registro:
          type:
            - string
            - "null"
      required:
        - cnpj
        - codigo_cvm
        - name
        - tipo_classe
        - situacao
        - classificacao
        - classificacao_anbima
        - entidade_investimento
        - net_worth
        - net_worth_date
        - cnpj_fundo
        - tipo_fundo
        - administrator
        - manager
        - manager_cnpj
        - admin_fee_pct
        - performance_fee_pct
        - data_registro
    FundHolding:
      type: object
      properties:
        cnpj:
          type: string
        comptc_date:
          type: string
        cd_ativo:
          type:
            - string
            - "null"
        ticker:
          type:
            - string
            - "null"
          description: cd_ativo resolvido ao nosso universo (ação/BDR); null caso contrário
        tp_aplic:
          type:
            - string
            - "null"
        ds_ativo:
          type:
            - string
            - "null"
        cd_isin:
          type:
            - string
            - "null"
        qty:
          type:
            - number
            - "null"
        market_value:
          type:
            - number
            - "null"
          description: posição a mercado (R$)
        fund_name:
          type:
            - string
            - "null"
        fund_manager:
          type:
            - string
            - "null"
        fund_classificacao:
          type:
            - string
            - "null"
      required:
        - cnpj
        - comptc_date
        - cd_ativo
        - ticker
        - tp_aplic
        - ds_ativo
        - cd_isin
        - qty
        - market_value
        - fund_name
        - fund_manager
        - fund_classificacao
    FundOfFundsEdge:
      type: object
      properties:
        comptc_date:
          type: string
        investor_cnpj:
          type: string
        invested_cnpj:
          type: string
        invested_name:
          type:
            - string
            - "null"
        market_value:
          type:
            - number
            - "null"
          description: posição do investidor nas cotas do investido (R$)
        invested_net_worth:
          type:
            - number
            - "null"
          description: PL do investido NA COMPETÊNCIA (nunca o PL de hoje); null em 27,3%
            das arestas
        invested_weight_pct:
          type:
            - number
            - "null"
          description: PERCENTUAL (0–100) do PL do INVESTIDO que o investidor representa
        investor_share_pct:
          type:
            - number
            - "null"
          description: PERCENTUAL (0–100) do PL do INVESTIDOR aplicado nesta posição
        weight_over_100:
          type:
            - boolean
            - "null"
          description: posição declarada entre 1,0× e 1,5× o PL do investido —
            descasamento de base, não erro
        weight_reason:
          type:
            - string
            - "null"
          enum:
            - sem_pl_no_informe
            - peso_acima_do_cap
            - null
          description: por que o peso não foi calculado; null = peso válido
        nav_date:
          type:
            - string
            - "null"
          description: data do PL usado no denominador
        invested_manager:
          type:
            - string
            - "null"
        invested_classificacao:
          type:
            - string
            - "null"
        lineage:
          type:
            - string
            - "null"
      required:
        - comptc_date
        - investor_cnpj
        - invested_cnpj
        - invested_name
        - market_value
        - invested_net_worth
        - invested_weight_pct
        - investor_share_pct
        - weight_over_100
        - weight_reason
        - nav_date
        - invested_manager
        - invested_classificacao
        - lineage
    FundLookThrough:
      type: object
      properties:
        investor_cnpj:
          type: string
        comptc_date:
          type: string
        ticker:
          type: string
        exposure_direct_brl:
          type:
            - number
            - "null"
          description: "posição ECONÔMICA do próprio fundo no ativo (R$): direta + cedida
            em empréstimo − obrigação por ação recebida. NÃO é o mesmo número de
            `listFundHoldings`, que serve a posse DIVULGADA (bucket 'Ações'
            as-filed): um fundo que cedeu papel em empréstimo diverge ~2% aqui e
            ~10% no agregado do mercado — dois conceitos, os dois corretos."
        exposure_indirect_brl:
          type:
            - number
            - "null"
          description: parcela que chega via cotas de outros fundos (R$)
        exposure_total_brl:
          type:
            - number
            - "null"
        shares_direct:
          type:
            - number
            - "null"
          description: quantidade ECONÔMICA (direta + cedida − recebida em obrigação).
            Difere da quantidade as-filed de `listFundHoldings` sempre que há
            empréstimo de papel.
        shares_indirect:
          type:
            - number
            - "null"
        indirect_via_n_funds:
          type:
            - number
            - "null"
          description: quantos fundos investidos carregam o ativo
        indirect_coverage_pct:
          type:
            - number
            - "null"
          description: PERCENTUAL (0–100) do valor em cotas cujo BLC_4 foi possível abrir;
            null = não sabemos abrir nada. Exposição baixa com cobertura baixa
            NÃO quer dizer exposição ausente.
        cotas_value_brl:
          type:
            - number
            - "null"
          description: total em cotas do investidor na competência
        look_through_depth:
          type:
            - number
            - "null"
          description: saltos percorridos; hoje sempre 1
        lineage:
          type:
            - string
            - "null"
      required:
        - investor_cnpj
        - comptc_date
        - ticker
        - exposure_direct_brl
        - exposure_indirect_brl
        - exposure_total_brl
        - shares_direct
        - shares_indirect
        - indirect_via_n_funds
        - indirect_coverage_pct
        - cotas_value_brl
        - look_through_depth
        - lineage
    InvestorFlow:
      type: object
      properties:
        as_of_date:
          type: string
        investor_type:
          type: string
          description: Estrangeiro | Institucionais | ...
        buy_brl_thousand:
          type:
            - number
            - "null"
        sell_brl_thousand:
          type:
            - number
            - "null"
        buy_share_pct:
          type:
            - number
            - "null"
        sell_share_pct:
          type:
            - number
            - "null"
        net_mtd_brl_thousand:
          type:
            - number
            - "null"
        net_daily_brl_thousand:
          type:
            - number
            - "null"
        lineage:
          type:
            - string
            - "null"
      required:
        - as_of_date
        - investor_type
        - buy_brl_thousand
        - sell_brl_thousand
        - buy_share_pct
        - sell_share_pct
        - net_mtd_brl_thousand
        - net_daily_brl_thousand
        - lineage
    InvestorFlowMonthly:
      type: object
      properties:
        month_ref:
          type: string
        investor_type:
          type: string
        segment:
          type: string
        brl_reais:
          type:
            - number
            - "null"
        share_pct:
          type:
            - number
            - "null"
        lineage:
          type:
            - string
            - "null"
      required:
        - month_ref
        - investor_type
        - segment
        - brl_reais
        - share_pct
        - lineage
    PublicMarketAnomaly:
      type: object
      properties:
        day:
          type: string
        series_code:
          type: string
          description: IBOV | IFIX | USDBRL | BRENT | VIX | SP500 | NASDAQ
        return_pct:
          type: number
          description: Retorno do dia em % (a partir do log-retorno).
        zscore:
          type: number
          description: Desvios-padrão do retorno BRUTO vs σ rolling de 252 pregões. Quando
            local_zscore está presente, é ELE que define o dia como anômalo —
            este campo fica para auditoria.
        direction:
          type: string
          description: alta | queda
        factor_model:
          type:
            - string
            - "null"
          description: "Séries de controle descontadas (ex.: 'NASDAQ+USDBRL'). null =
            série sem modelo de fatores (as próprias séries globais) ou período
            sem os fatores disponíveis."
[...]
